@import 'vendor/bootstrap.min.css'
@import 'vendor/bootstrap-reset.css'
@import 'vendor/font-awesome.min.css'
@import 'vendor/slidebars.css'
@import 'vendor/jquery.easy-pie-chart.css'
@import 'vendor/jquery.dataTables.min.css'
@import 'vendor/bootstrap-fileupload.css'
@import 'vendor/toastr.min.css'
@import 'vendor/rowReorder.dataTables.min.css'
@import 'vendor/cropper.css'
@import 'vendor/file-uploader/blueimp-gallery.min.css'
@import 'vendor/file-uploader/jquery.fileupload.css'
@import 'vendor/file-uploader/jquery.fileupload-ui.css'
@import 'vendor/style.css'
@import 'vendor/style-responsive.css'
@import '~select2/dist/css/select2.min.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.css';

*:focus
  outline none !important

#main-content
  min-height calc(100vh - 38px)

.display-flex
  display flex !important

.justify-content-space-between
  justify-content space-between !important

.w90
  width 90%

.m-bot50
  margin-bottom 50px

.panel-heading a
  margin-top -6px

.btn-danger
  background-color #ff4141
  border-color: #ff4141

.btn-success
  background-color none
  border-color none
  background-image linear-gradient(258deg, #ff4141, #0050dc)

.bg-blue
  background-color #001933

.text-white
  color: #fff

body#login .logo
  display: block
  margin: 30px auto 30px

body#login
  font-family: 'Open Sans', Arial, sans-serif
  background-color #002347

.customer-chat-widget
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-size: 13px
  background: #fff
  overflow: hidden
  -webkit-border-top-left-radius: 3px
  -webkit-border-top-right-radius: 3px
  -moz-border-top-left-radius: 3px
  -moz-border-top-right-radius: 3px
  border-top-left-radius: 3px
  border-top-right-radius: 3px

.customer-chat-login
  position: static
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd
  margin: 30px auto 0 auto

.customer-chat-login, .customer-chat-header
  min-width: 0
  min-height: 0
  width: 371px

.customer-chat-header
  position: relative;
  width: 100%
  background: #fff
  height: 55px
  line-height: 55px
  color: #fff
  margin: 0
  padding: 0
  cursor: pointer

.customer-chat-header-title
  color: #002347
  font-size: 16px
  margin-left: 18px
  float: left
  padding-left: 4px

.customer-chat-header:after
  content: ""
  position: absolute
  bottom: 0
  left: 0
  right: 0
  margin: auto
  width: 100%
  height: 2px
  background-image: -webkit-gradient(linear, left top, right top, from(#ff4141), to(#0050dc))
  background-image: linear-gradient(90deg, #ff4141, #0050dc)

.customer-chat-widget.customer-chat-login .customer-chat-content
  position: relative
  height: 353px

.customer-chat-widget.customer-chat-login .customer-chat-content
  position: relative
  height: 353px

.customer-chat-content-info
  padding: 20px
  height: 140px
  overflow: hidden
  text-align: center
  padding-top: 53px
  display block

.customer-chat-widget.login-form .customer-chat-content-message-input
  background: #fff
  border-top: none
  padding-top: 1px
  padding-bottom: 2px

.customer-chat-content-message-input
  position: relative
  padding: 20px
  padding-top: 22px
  background: #f9f9f9
  height: 51px
  border-top: 1px solid #eee
  margin-top: -1px

.customer-chat-widget.login-form .customer-chat-content-message-input-field
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  padding: 10px

.customer-chat-content-message-input-field
  font-family: 'Open Sans', sans-serif
  background: #fff
  margin: 0
  width: 100%
  height: 39px
  font-size: 13px
  padding: 16px 90px 16px 16px
  border: 1px solid #eee
  border-left: 2px solid #002347
  outline: none
  resize: none
  overflow: hidden
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  transition: box-shadow 200ms ease

.customer-chat-content-row
  position: absolute
  width: 328px
  text-align: center
  height: 36px
  padding: 20px
  bottom: 36px

.customer-chat-content-button
  width: 328px
  position: relative
  text-align: center
  display: block
  padding: 8px 22px;
  background: linear-gradient(258deg, #ff4141, #0050dc)
  color: #fff
  border: none
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  text-decoration: none
  transition: background 200ms ease
  outline: none
  cursor: pointer

.customer-chat-content
  bottom: 0
  border-bottom: 3px solid #d83232

.adv-table .dataTables_filter label input
  background: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: 5px 15px
  padding-left 25px

.profile-img
  border: 1px solid #c0c0c0
  padding: 10px

.profile-form > .form-group
  height 40px

.profile-form > .form-group label
  height 34px

.select2-container--default .select2-selection--single, .select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field
  border: 1px solid #e2e2e4 !important

.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height 32px

.select2-container--default .select2-selection--single .select2-selection__arrow
  height: 32px

.select2-container--default .select2-selection--single
  height: 34px

#post p.name
  max-width 200px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis