.footer {
  font-family: $t-0;
  color: $c-white;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, #ff4141, #0050dc);
  }

  a {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
  }
}

.footer-info {
  background: $c-0;
  height: 250px;

  .container {
    padding-top: 70px;
    zoom: 1;

    &:after, &:before {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

    .data {
      width: auto;
      height: 100%;
      display: flex;
      justify-content: space-around;

      .footer-item {
        width: 25%;

        ul li, p {
          list-style: none;
          font-size: 14px;
        }

        h3 {
          font-family: $t-1;
          font-size: 16px;
        }

        a {
          color: $c-white;
        }

        &.footer-social {
          ul {
            padding: 0;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.footer-copyright {
  background: $c-3;
  padding-top: 23px;
  padding-bottom: 22px;
  color: #385573;
  font-size: 14px;

  ul {
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;

    &:first-child:after {
      content: '|';
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
    }

    a {
      font-size: 14px;
    }
  }

  a {
    color: #385573;

  }
}

.footer-about {
  padding-right: 30px;

  p {
    line-height: 17px;
  }
}

.footer-products {
  display: none;
}

.footer-links ul, .footer-links-2 ul {
  padding-left: 4px;
}

.footer-links li, .footer-links-2 li {
  line-height: 24px;
  position: relative;
  padding-left: 14px;
}

.footer-links li:after, .footer-links-2 li:after {
  width: 10px;
  content: '\e90e';
  font-family: icomoon;
  font-size: 6px;
  color: $c-white;
  position: absolute;
  left: 0;
  right: 0;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links-2 {
  a:hover {
    text-decoration: underline;
  }

  display: none;
}

.footer-contact {
  .social-list {
    display: none;
  }

  .contact-list {
    padding: 0 40px 0 4px;

    li {
      position: relative;
      font-family: $t-0 !important;
      padding-left: 16px;
      margin-bottom: 15px;
      line-height: 17px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 20px;
        font-size: 10px;
        font-family: $icomoon !important;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.social-list .social-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;

  a {
    display: block;
    width: 38px;
    height: 38px;
    border: 2px solid $c-white;
    border-radius: 50%;
    background: $c-white;
    text-align: center;
    transition: ease all 0.3s;

    span {
      font-size: 20px;
      color: $c-0;
      line-height: 36px;
      transition: ease all 0.3s;
    }

    &:hover {
      border: 2px solid $c-white;
      background: transparent;

      span {
        color: $c-white;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer-info {
    padding-top: 70px;
    padding-bottom: 54px;
  }
  .footer-item {
    padding-right: 15px;
  }
  .footer-social, .footer-about {
    display: none;
  }
  .footer-links {
    width: 25%;
  }
  .footer-products {
    display: block;
    width: 37.5%;
  }
  .footer-contact {
    width: 37.5%;

    .social-list {
      display: block;
    }
  }
  .social-list .social-item a {
    width: 30px;
    height: 30px;

    span {
      font-size: 15px;
      line-height: 26px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-info {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-item {
    width: 100%;
  }
  .footer-social, .footer-links-2 {
    display: block;
  }
  .footer-products, .footer-links, .footer-contact .social-list, .footer-item .footer-item-collapse {
    display: none;
  }
  .footer-contact .footer-item-title, .footer-links-2 .footer-item-title {
    position: relative;
  }
  .footer-contact .footer-item-title h3, .footer-links-2 .footer-item-title h3 {
    cursor: pointer;
  }
  .footer-contact .footer-item-title h3:after, .footer-links-2 .footer-item-title h3:after {
    display: inline-block;
    vertical-align: middle;
    content: '\e914';
    font-family: $icomoon;
    margin-left: 10px;
    color: $c-white;
    font-size: 8px;
    line-height: 14px;
    width: 15px;
    height: 15px;
  }
  .footer-contact.open .footer-item-title h3:after, .footer-links-2.open .footer-item-title h3:after {
    content: '\e913';
  }
  .footer-copyright li {
    display: block;

    &:first-child:after {
      display: none;
    }
  }
  .mobile-widget #mobile-widget {
    display: block;
    line-height: 48px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

//.footer {
//  font-family: $t-0;
//  color: $c-white;
//  position: relative;
//}
//
//.footer:after {
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  margin: auto;
//  width: 100%;
//  height: 6px;
//  background-image: linear-gradient(to right, #ff4141, #0050dc);
//}
//
//.footer-info {
//  position: relative;
//  background: $c-0;
//  padding-top: 110px;
//  padding-bottom: 100px;
//}
//
//.footer-info .container {
//  zoom: 1;
//}
//
//:after:before {
//  content: "";
//  display: table;
//}
//
//:after:after clear both {
//  max-width: 950px;
//}
//
//.footer-item {
//  width: 25%;
//  float: left;
//}
//
//.footer-item ul {
//  list-style: none;
//  padding-left: 0;
//  margin: 0;
//}
//
//.footer-item li {
//  font-size: 14px;
//}
//
//.footer-item p {
//  font-size: 14px;
//}
//
//.footer-item h3 {
//  font-family: $t-1;
//  font-size: 16px;
//}
//
//.footer-item a {
//  color: $c-white;
//}
//
//.footer-copyright {
//  background: $c-3;
//  padding-top: 23px;
//  padding-bottom: 22px;
//  color: #385573;
//  font-size: 14px;
//}
//
//.footer-copyright ul {
//  list-style: none;
//  padding-left: 0;
//  margin: 0;
//  text-align: center;
//}
//
//.footer-copyright li {
//  display: inline-block;
//  vertical-align: middle;
//  line-height: 20px;
//}
//
//.footer-copyright li:first-child:after {
//  content: '|';
//  display: inline-block;
//  margin-left: 5px;
//  margin-right: 5px;
//}
//
//.footer-copyright a {
//  color: #385573;
//}
//
//.footer-about {
//  padding-right: 30px;
//}
//
//.footer-about p {
//  line-height: 17px;
//}
//
//.footer-products {
//  display: none;
//}
//
//.footer-links ul,
//.footer-links-2 ul {
//  padding-left: 4px;
//}
//
//.footer-links li,
//.footer-links-2 li {
//  line-height: 24px;
//  position: relative;
//  padding-left: 14px;
//}
//
//.footer-links li:after,
//.footer-links-2 li:after {
//  width: 10px;
//  content: '\e90e';
//  font-family: icomoon;
//  font-size: 6px;
//  color: $c-white;
//  position: absolute;
//  left: 0;
//  right: 0;
//}
//
//.footer-links a:hover,
//.footer-links-2 a:hover {
//  text-decoration: underline;
//}
//
//.footer-links-2 {
//  display: none;
//}
//
//.footer-contact .social-list {
//  display: none;
//}
//
//.footer-contact .contact-list {
//  padding-left: 4px;
//}
//
//.footer-contact .contact-list li {
//  position: relative;
//  font-family: $t-0 !important;
//  padding-left: 16px;
//  margin-bottom: 15px;
//  line-height: 17px;
//}
//
//.footer-contact .contact-list li:before {
//  position: absolute;
//  top: 0;
//  left: 0;
//  line-height: 14px;
//  font-size: 10px;
//  font-family: icomoon !important;
//}
//
//.footer-contact .contact-list li a:hover {
//  text-decoration: underline;
//}
//
//.social-list {
//  list-style: none;
//  padding-left: 0;
//  margin: 0;
//}
//
//.social-list .social-item {
//  display: inline-block;
//  vertical-align: middle;
//  margin-right: 9px;
//}
//
//.social-list .social-item a {
//  display: block;
//  width: 38px;
//  height: 38px;
//  border: 2px solid $c-white;
//  border-radius: 50%;
//  background: $c-white;
//  text-align: center;
//  transition: ease all 0.3s;
//}
//
//.social-list .social-item a span {
//  font-size: 20px;
//  color: $c-0;
//  line-height: 36px;
//  transition: ease all 0.3s;
//}
//
//.social-list .social-item a:hover {
//  border: 2px solid $c-white;
//  background: transparent;
//}
//
//.social-list .social-item a:hover span {
//  color: $c-white;
//}
//
//@media screen and (max-width: 992px) {
//  .footer-info {
//    padding-top: 70px;
//    padding-bottom: 54px;
//  }
//
//  .footer-item {
//    padding-right: 15px;
//  }
//
//  .footer-social,
//  .footer-about {
//    display: none;
//  }
//
//  .footer-links {
//    width: 25%;
//  }
//
//  .footer-products {
//    display: block;
//    width: 37.5%;
//  }
//
//  .footer-contact {
//    width: 37.5%;
//  }
//
//  .footer-contact .social-list {
//    display: block;
//  }
//
//  .social-list .social-item a {
//    width: 30px;
//    height: 30px;
//  }
//
//  .social-list .social-item a span {
//    font-size: 15px;
//    line-height: 26px;
//  }
//}
//
//@media screen and (max-width: 768px) {
//  .footer-info {
//    padding-top: 32px;
//    padding-bottom: 32px;
//  }
//
//  .footer-item {
//    width: 100%;
//  }
//
//  .footer-social,
//  .footer-links-2 {
//    display: block;
//  }
//
//  .footer-products,
//  .footer-links {
//    display: none;
//  }
//
//  .footer-contact .social-list {
//    display: none;
//  }
//
//  .footer-item {
//    float: none;
//  }
//
//  .footer-item .footer-item-collapse {
//    display: none;
//  }
//
//  .footer-contact .footer-item-title,
//  .footer-links-2 .footer-item-title {
//    position: relative;
//  }
//
//  .footer-contact .footer-item-title h3,
//  .footer-links-2 .footer-item-title h3 {
//    cursor: pointer;
//  }
//
//  .footer-contact .footer-item-title h3:after,
//  .footer-links-2 .footer-item-title h3:after {
//    display: inline-block;
//    vertical-align: middle;
//    content: '\e914';
//    font-family: icomoon;
//    margin-left: 10px;
//    color: $c-white;
//    font-size: 8px;
//    line-height: 14px;
//    width: 15px;
//    height: 15px;
//    transition: ease all 0.3s;
//  }
//
//  .footer-contact.open .footer-item-title h3:after,
//  .footer-links-2.open .footer-item-title h3:after {
//    content: '\e913';
//  }
//
//  .footer-copyright li {
//    display: block;
//  }
//
//  .footer-copyright li:first-child:after {
//    display: none;
//  }
//
//  .mobile-widget #mobile-widget {
//    display: block;
//    line-height: 48px;
//    border-radius: 50%;
//    width: 40px;
//    height: 40px;
//  }
//}