// General
input, select, textarea, button, button:hover, button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

body {
  overflow-x: hidden;
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px 26px;
  height: 32px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid $c-0;
  text-decoration: none;
  font-family: $t-1;
  cursor: pointer;
  color: $c-0;
  text-align: center;
  font-size: 16px;
  transition: ease color 0.4s;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: capitalize;

  &:after {
    content: '';
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: 25px;
    background-image: linear-gradient(258deg, #ff4141, #0050dc);
    z-index: 0;
    transition: ease all 0.5s;
  }

  span {
    position: relative;
    z-index: 1;
    line-height: 16px;
  }

  &:hover,
  &.active {
    padding: 10px 28px;
    border: 0;
    color: $c-white;

    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 35, 71, 0.3);
  z-index: 0;
  cursor: pointer;
  border: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50.1%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  z-index: 1;
  cursor: pointer;
}

// Styles
section.banner {
  height: 100vh;

  &.bg-desktop {
    background: url('/img/banner-top.png') no-repeat left;
    background-size: contain;

    .opacity {
      top: 85px;
      width: 61%;
    }
    .circle{
      background-image: linear-gradient(50deg, #0050dc, #ff4141);
      clip-path: circle(100% at 103% 50%);
      height: 100%;
      position: absolute;
      right: 0;
      top: 85px;
      width: 60%;
      z-index: 0;
    }
  }

  .left {
    color: $c-white;
    margin-top: 250px;
    padding-right: 150px;

    h1 {
      font-size: 42px;
    }

    p {
      margin-top: 40px;
      font-size: 18px;
    }
  }

  .right {
    color: $c-white;
    margin-top: 226px;
    display: flex;
    justify-content: flex-start;

    .form {
      width: 100%;

      .form-label {
        color: $c-5;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        padding-left: 10px;
        height: 27px;
        line-height: 27px;
        font-size: 14px;
        z-index: 2;
        transition: ease all 0.3s
      }

      .form-control {
        margin-bottom: 10px;
        position: relative;
        background: transparent;
        border: none;
        padding: 0.375rem 0;
        height: 100%;

        &.active,
        &.focus {
          .form-label {
            top: -15px;
            height: 20px;
            line-height: 20px;
            font-size: 11px;
          }
        }

        &.error {
          .error-label {
            display: block;
            width: 100%;
            position: absolute;
            font-size: 12px;
            bottom: -5px;
            left: 0;
            color: #f00;

            &:after {
              content: '\e916';
              position: absolute;
              top: 0;
              right: 0;
              font-family: $icomoon;
              font-size: 12px;
              width: 12px;
              height: 12px;
            }
          }

          .form-input {
            input {
              border-bottom: 2px solid #f00;
            }
          }

          .form-select {
            select {
              border-bottom: 2px solid #f00;
            }
          }

          .form-textarea {
            textarea {
              border-bottom: 2px solid #f00;
            }
          }

        }
      }

      .error-label {
        display: none;
      }

      .form-input {
        input {
          width: 100%;
          border: 0;
          border-radius: 0;
          color: $c-5;
          padding-left: 10px;
          font-size: 16px;
          background: transparent;
          height: 30px;
          line-height: 30px;
          border-bottom: 2px solid $c-5;
        }
      }

      .form-select {
        position: relative;

        select {
          border: 0;
          padding-left: 10px;
          color: $c-5;
          background: transparent;
          appearance: none;
          font-size: 16px;
          border-radius: 0;
          width: 100%;
          height: 30px;
          line-height: 30px;
          border-bottom: 2px solid $c-5;
        }

        &:after {
          content: '\e914';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 8px;
          margin: auto;
          height: 10px;
          width: 10px;
          font-size: 10px;
          line-height: 10px;
          color: $c-white;
          font-family: $icomoon;
        }
      }

      .form-textarea {
        position: relative;

        textarea {
          border: 0;
          padding-left: 10px;
          font-size: 16px;
          color: $c-5;
          border-radius: 0;
          background: transparent;
          width: 100% !important;
          height: 150px;
          border-bottom: 2px solid $c-5;
          margin-bottom: 7px;
        }
      }

      .form-label {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        padding-left: 10px;
        height: 27px;
        line-height: 27px;
        font-size: 14px;
        z-index: 2;
        transition: ease all 0.3s;
      }

      .form-button {
        position: relative;
        padding-top: 28px;
        text-align: center;

        .button-white {
          background-color: transparent;
          border: 1px solid $c-white;
          border-radius: 25px;
          color: $c-white;
          cursor: pointer;
          height: 32px;
          text-transform: capitalize;
          width: 170px;

          &:hover {
            background-color: $c-white;
            transition: ease all 0.3s;
            color: $c-0;
          }
        }
      }
    }

    .message {
      .globito {
        background: url('../../../img/globito.png');
        background-size: cover;
        height: 96px;
        margin-bottom: 30px;
        width: 100px;
      }

      p {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }
  }
}

section.services {
  height: 100vh;

  .bl-main {
    section {
      .bl-box {
        h2 {
          z-index: 1;
        }
      }

      .bl-content {
        .overlay {
          width: 33.33%;
        }

        .right {
          .data {
            h2 {
              &:after {
                margin-top: 10px;
              }
            }
          }
        }
      }

      .overlay {
        position: absolute;
        width: 100%;
        height: 30%;
        top: 70%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, rgba(0, 35, 71, 1), rgba(0, 73, 125, 0));
        z-index: 0;
        cursor: pointer;
      }
    }
  }
}

section.brands {
  height: calc(100vh - 400px);

  .title {
    padding-top: 150px;
    text-align: center;
    color: $c-0;
  }

  .brands-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    height: 100%;

    img {
      &.desk {
        height: 90px;
      }

      &.resp {
        width: 100%;
        height: auto;
        margin: 15px 0;
      }
    }
  }
}