header {
  height: 85px;

  nav {
    .container {
      height: 85px;

      a.navbar-brand {
        margin-top: 15px;
        text-decoration: none;

        img {
          width: 270px;
          height: 82px;
          position: relative;
          z-index: 1;
        }
      }

      .button-header {
        .button {
          font-size: 14px;
          font-weight: normal;
          text-decoration: none;
          text-transform: none;
          line-height: 16px;
          margin-left: 20px;
          padding: 7px 15px;
          width: 200px;

          &:hover {
            line-height: 20px;
          }
        }
      }
    }
  }
}