@import './utils/normalize.styl'
//@import 'nib'
//@import 'nib/normalize'
//@import 'nib/gradients'
//@import 'nib/overflow'

// Import fonts & icons
@import './utils/fonts.styl'
@import './utils/icons.styl'

// Import global
@import './utils/variables.styl'
@import './utils/mixins.styl'

// Import animations
@import './utils/animations.styl'

//General code
*,
*:after,
*:before
  box-sizing border-box
  //outline 1px dashed lime

.container
  width 100%
  max-width 1230px
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto

body
  font-size 16px
  font-family t-0
  color c-0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a
  color #ff4141
  text-decoration none
  &:focus,
  &:active
    outline none

h1, h2, h3, h4, h5, h6, strong
  font-weight normal

input,textarea,select,button
  outline 0

.link
  &:hover
    text-decoration underline
    color c-1

.relative
  position relative

.text-center
  text-align center

.clearfix
  clearfix()

.row
  margin-left -15px
  margin-right -15px
  clearfix()
for num in (1..12)
  .col-{num}
    position relative
    width 100%
    min-height 1px
    padding-right 15px
    padding-left 15px
for num in (1..12)
  .col-{num}
    width num * 8.333%

.left
  float left

.right
  float right

@media screen and (max-width 992px)
  for num in (1..12)
    .col-{num}
      width 50%
@media screen and (min-width 769px)
  for num in (1..12)
    .col-{num}
      float left
@media screen and (max-width 768px)
  for num in (1..12)
    .col-{num}
      width 100%
// Import blocks
@import './blocks/general.styl'
@import './blocks/header.styl'
@import './blocks/footer.styl'
@import './blocks/base.styl'
