/* transitions: Codrops, src https://tympanus.net/codrops/2013/04/23/fullscreen-layout-with-page-transitions/ */

body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 80%;
}

a:hover {
  color: #fff;
}

.container {
  height: 100%;
  width: 100%;
}

.bl-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bl-main > section {
  position: absolute;
  width: calc(100% / 3);
  height: 100%;
}

.bl-main > section:first-child {
  top: 0;
  left: 0;
  background: url('../../../img/service02.png') no-repeat center;
  background-size: cover;
}

.bl-main > section:nth-child(2) {
  top: 0;
  left: 33.33%;
  background: url('../../../img/service01.png') no-repeat center;
  background-size: cover;
}

.bl-main > section:nth-child(3) {
  top: 0;
  left: 66.66%;
  background: url('../../../img/service03.png') no-repeat center;
  background-size: cover;
}

//.bl-main > section:nth-child(4) {
//  top: 0%;
//  left: 60%;
//  background: #10A296;
//}
//
//.bl-main > section:nth-child(5) {
//  top: 0%;
//  left: 80%;
//  background: #FA987D;
//}
//
//.bl-main > section:nth-child(6) {
//  top: 0%;
//  left: 100%;
//  background: #10A296;
//}
//
//.bl-main > section:nth-child(7) {
//  top: 0%;
//  left: 120%;
//  background: #10A296;
//}


.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: flex-end;
}

.bl-box h2 {
  margin: 0 0 120px;
  padding: 20px;
  width: 100%;
  font-size: 1.8em;
  letter-spacing: 1px;
  font-weight: 700;
  color: $c-white;

  &:after {
    content: '';
    display: block;
    border: 4px solid #fff;
    width: 50px;
    margin-top: 10px;
  }
}

.bl-icon {
  font-family: $icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.bl-icon:before {
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
}

.bl-main > section .bl-icon-close {
  cursor: pointer;
  font-size: 16px;
  left: calc(33.33% + 30px);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 100;
}

.bl-content,
div.bl-panel-items > div > div {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
}

/* Custom content */

.bl-main > section {
  &:nth-child(2) .bl-content > .left > .img {
    background: url('../../../img/service02.png') no-repeat center;
    background-size: cover;
  }

  &:nth-child(3) .bl-content > .left > .img {
    background: url('../../../img/service03.png') no-repeat center;
    background-size: cover;
  }
}

.bl-content {
  display: flex;
  justify-content: flex-start;

  .left {
    width: 33.33%;
    height: 100%;

    .img {
      width: 100%;
      height: 100%;
      background: url('../../../img/service01.png') no-repeat center;
      background-size: cover;
    }
  }

  .right {
    width: 66.67%;
    height: 100%;
    padding: 0 150px 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .data {
      color: $c-0;

      h2 {
        font-size: 32px;
        margin-bottom: 50px;

        &:after {
          border: 4px solid $c-0;
          content: '';
          display: block;
          width: 50px;
        }
      }

      ol {
        list-style: none;
        margin-left: 15px;
      }

      ul {
        margin-left: 50px;
        list-style-type: circle;
      }

      .action {
        margin-top: 50px;
        line-height: 1px;

        a {
          text-decoration: none;
        }
      }
    }
  }
}


/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

div.bl-panel-items > div > div {
  width: 60%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
  font-size: 1.3em;
}

div.bl-panel-items > div > div img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}

div.bl-panel-items {
  top: 100%;
  z-index: 9999;
}

div.bl-panel-items > div {
  background: #3ba5db;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -moz-transform: translateY(0);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -ms-transform: translateY(0);
}

div.bl-panel-items nav {
  position: absolute;
  z-index: 9999;
  width: 216px;
  left: 50%;
  top: 0px;
  margin-left: -108px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
  -moz-transition: opacity 0.2s ease-in-out 0.5s;
  transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
  float: left;
  margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
  opacity: 1;
  top: -70px;
}

div.bl-panel-items > div.bl-show-work {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transform: translateY(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  -ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transform: translateY(-100%) scale(0.5);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bl-main > section.bl-expand-top {
  z-index: 100;
}

.bl-main > section {
  &:first-child.bl-expand,
  &:nth-child(2).bl-expand,
  &:nth-child(3).bl-expand {
    background: $c-white;
  }
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
  //-webkit-transform: scale(0.5);
  //-moz-transform: scale(0.5);
  //-ms-transform: scale(0.5);
  //transform: scale(0.5);
  opacity: 0;
}

.bl-box {
  -webkit-transition: opacity 0.2s linear 0.5s;
  -moz-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.bl-box h2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
  pointer-events: auto;
  opacity: 1;
  //-webkit-transition: opacity 0.3s linear 0.5s;
  //-moz-transition: opacity 0.3s linear 0.5s;
  //transition: opacity 0.3s linear 0.5s;
  transition: 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
  .bl-content,
  .bl-box {
    font-size: 75%;
  }

  .bl-expand .bl-box {
    height: 130px;
  }

  .bl-content > ul li {
    width: 40%;
  }
}