@font-face {
  font-family:'patron_bold';
  src: url('../fonts/Patron Bold.woff2') format('woff2'),
          url('../fonts/Patron Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'patron_regular';
  src: url('../fonts/Patron Regular.woff2') format('woff2'),
          url('../fonts/Patron Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}