@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1zf5m7');
  src:  url('../fonts/icomoon.eot?1zf5m7#iefix') format('embedded-opentype'),
          url('../fonts/icomoon.ttf?1zf5m7') format('truetype'),
          url('../fonts/icomoon.woff?1zf5m7') format('woff'),
          url('../fonts/icomoon.svg?1zf5m7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering ('web.services.index')('web.services.index')=== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e915";
}
.icon-warning:before {
  content: "\e916";
}
.icon-arrow-top:before {
  content: "\e913";
}
.icon-arrow-bottom:before {
  content: "\e914";
}
.icon-arrow-left:before {
  content: "\e912";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-search-plus:before {
  content: "\e90f";
}
.icon-setting:before {
  content: "\e910";
}
.icon-users:before {
  content: "\e911";
}
.icon-bullet:before {
  content: "\e90c";
}
.icon-check-o:before {
  content: "\e900";
}
.icon-filter:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-mobile:before {
  content: "\e904";
}
.icon-map:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-right:before {
  content: "\e90b";
}