// Mixins
placeholder(color,fam)
	::-webkit-input-placeholder { color: color; font-family: fam; }
	:-moz-placeholder { color: color; font-family: fam; }
	::-moz-placeholder { color: color; font-family: fam; }
	:-ms-input-placeholder { color: color; font-family: fam; }

transition-all()
	transition ease all 0.3s
	
clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
responsive()
	display block
	width auto

img()	
	img 
		max-width 100%
		height auto
		display block

inline-block(p)
	display inline-block
	vertical-align p

bg-cover()
	background-repeat no-repeat
	background-size cover
	background-position center center 		

img-res()
	width 100%
	height auto
	display block

list-un()
	list-style none
	padding-left 0
	margin 0