input, select, textarea, button, button:hover, button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

body {
  overflow-x: hidden;
  font-family: patron_regular, sans-serif;
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px 26px;
  height: 32px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid $c-0;
  text-decoration: none;
  font-family: $t-1;
  cursor: pointer;
  color: $c-0;
  text-align: center;
  font-size: 16px;
  transition: ease color 0.4s;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: capitalize;

  &:after {
    content: '';
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: 25px;
    background-image: linear-gradient(258deg, #ff4141, #0050dc);
    z-index: 0;
    transition: ease all 0.5s;
  }

  span {
    position: relative;
    z-index: 1;
    line-height: 16px;
  }

  &:hover,
  &.active {
    padding: 10px 28px;
    border: 0;
    color: $c-white;

    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.opacity {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 35, 71, 0.6);
  z-index: 0;
  cursor: pointer;
  border: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50.1%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  z-index: 1;
  cursor: pointer;
  border: none;
}

section.banners {
  height: calc(100vh - 85px);

  .slide {
    height: 100%;

    .carousel-indicators {
      bottom: 40%;

      .circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition: ease all 0.4s;

        &.active {
          width: 20px;
          height: 20px;
          margin-top: -5px;
          transition: ease all 0.4s;
        }
      }

      &.static {
        bottom: 25px;
        display: block;
        text-align: center;

        .button {
          margin-bottom: 150px;
          padding: 4px 26px;
          text-decoration: none;
          width: 170px;

          span {
            width: 100%;
          }
        }

        .arrow {
          color: $c-0;
          display: block;
          font-size: 24px;
          text-decoration: none;
          width: 100%;
        }
      }
    }

    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100%;

        &:first-child {
          .img {
            background: url('/img/pool-banner01.jpg') no-repeat center;
            background-size: cover;
            height: 100%;
          }
        }

        &:nth-child(2) {
          .img {
            background: url('/img/pool-banner02.jpg') no-repeat center;
            background-size: cover;
            height: 100%;
          }
        }

        &:nth-child(3) {
          .img {
            background: url('/img/pool-banner03.jpg') no-repeat center;
            background-size: cover;
            height: 100%;
          }
        }

        .img {
          .info {
            color: $c-white;
            top: 30%;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            text-align: center;
            margin: auto;
            max-width: 570px;

            h2 {
              font-size: 48px;
              color: $c-white;
            }
          }
        }
      }
    }
  }
}

section.products {
  height: 100vh;

  .title {
    padding-top: 150px;
    text-align: center;
    color: $c-0;
  }

  .info {
    margin-top: 50px;

    ul.nav {
      justify-content: space-around;
      border-bottom: 1px solid #979797;

      li {
        position: relative;
        margin-bottom: 8px;

        a {
          color: $c-0;
          font-size: 14px;
          text-decoration: none;
          text-transform: capitalize;
          letter-spacing: 0;
          position: relative;
          z-index: 1;

          &.active {
            color: $c-1;

            &:before {
              background-color: $c-white;
              content: "";
              position: absolute;
              bottom: -22px;
              padding: 9px;
              left: 35%;
              width: 0;
              border-width: 0 1px 1px 0;
              height: 0;
              display: inline-block;
              border-color: #979797;
              border-style: solid;
              transform: rotate(45deg);
              opacity: 1;
              z-index: -1;
            }
          }
        }
      }
    }

    .tab-content {
      .tab-pane {
        .content {
          height: calc(100vh - 300px);
          padding: 60px 15px;
          display: flex;
          justify-content: flex-start;

          .img {
            width: 35%;
            height: 100%;
            padding: 15px;
            position: relative;

            img {
              width: 348px;
              height: 348px;
              border-radius: 50%;
              position: absolute;
              margin: 0 auto;
            }
          }

          .data {
            width: 65%;
            height: 100%;
            padding: 15px;
            overflow-y: scroll;
            color: $c-0;

            h3 {
              font-size: 18px;
              margin-bottom: 20px;
            }

            p, li {
              font-size: 16px;
            }

            .button {
              margin-top: 30px;
              padding: 3px 26px;
              text-decoration: none;

              &:hover {
                padding: 4px 26px;
              }
            }
          }

        }
      }
    }
  }
}

section.contacts {
  height: 100vh;
  background-color: $c-7;

  &:before, &:after {
    background-image: linear-gradient(258deg, #ff4141, #0050dc);
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 20%;
  }

  .title {
    padding-top: 150px;
    text-align: center;
    color: $c-0;
  }

  .form {
    width: 100%;
    margin-top: 80px;

    .form-label {
      color: $c-8;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      padding-left: 10px;
      height: 27px;
      line-height: 27px;
      font-size: 14px;
      z-index: 2;
      transition: ease all 0.3s
    }

    .form-control {
      margin-bottom: 10px;
      position: relative;
      background: transparent;
      border: none;
      padding: 0.375rem 0;
      height: 100%;

      &.active,
      &.focus {
        .form-label {
          top: -15px;
          height: 20px;
          line-height: 20px;
          font-size: 11px;
        }
      }

      &.error {
        .error-label {
          display: block;
          width: 100%;
          position: absolute;
          font-size: 12px;
          bottom: -5px;
          left: 0;
          color: #f00;

          &:after {
            content: '\e916';
            position: absolute;
            top: 0;
            right: 0;
            font-family: $icomoon;
            font-size: 12px;
            width: 12px;
            height: 12px;
          }
        }

        .form-input {
          input {
            border-bottom: 2px solid #f00;
          }
        }

        .form-select {
          select {
            border-bottom: 2px solid #f00;
          }
        }

        .form-textarea {
          textarea {
            border-bottom: 2px solid #f00;
          }
        }

      }
    }

    .error-label {
      display: none;
    }

    .form-input {
      input {
        width: 100%;
        border: 0;
        border-radius: 0;
        color: $c-0;
        padding-left: 10px;
        font-size: 16px;
        background: transparent;
        height: 30px;
        line-height: 30px;
        border-bottom: 2px solid $c-0;
      }
    }

    .form-select {
      position: relative;

      select {
        border: 0;
        padding-left: 10px;
        color: $c-0;
        background: transparent;
        appearance: none;
        font-size: 16px;
        border-radius: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        border-bottom: 2px solid $c-0;
      }

      &:after {
        content: '\e914';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 8px;
        margin: auto;
        height: 10px;
        width: 10px;
        font-size: 10px;
        line-height: 10px;
        color: $c-white;
        font-family: $icomoon;
      }
    }

    .form-textarea {
      position: relative;

      textarea {
        border: 0;
        padding-left: 10px;
        font-size: 16px;
        color: $c-0;
        border-radius: 0;
        background: transparent;
        width: 100% !important;
        height: 150px;
        border-bottom: 2px solid $c-0;
        margin-bottom: 7px;
      }
    }

    .form-label {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      padding-left: 10px;
      height: 27px;
      line-height: 27px;
      font-size: 14px;
      z-index: 2;
      transition: ease all 0.3s;
    }

    .form-button {
      position: relative;
      padding-top: 28px;
      text-align: center;

      .button.active {
        padding: 5px 28px;
        border: 0;
        color: #fff;
        width: 170px;
      }
    }
  }
}

section.brands {
  height: calc(100vh - 400px);

  .title {
    padding-top: 150px;
    text-align: center;
    color: $c-0;
  }

  .brands-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    height: 100%;

    img {
      &.desk {
        height: 90px;
      }

      &.resp {
        width: 100%;
        height: auto;
        margin: 15px 0;
      }
    }
  }
}