@media (min-width: 1440px){
  section.brands {
    height: calc(100vh - 280px);
  }
}

@media (max-width: 1280px) {
  .banner {
    .left {
      margin-top: 100px !important;
    }

    .right {
      margin-top: 100px !important;

      .form {
        .form-control {
          margin-bottom: 5px;
        }
      }
    }
  }
  section.brands {
    height: calc(100vh - 200px);
  }
}

@media (max-width: 768px) {
  header {
    nav {
      .container {
        a.navbar-brand {
          margin-top: 0;

          img {
            height: 36px;
            width: 120px;
          }
        }

        .button-header {
          .button {
            width: 132px;
          }
        }
      }
    }
  }
  .bg-desktop {
    background: none;

    .container {
      .l-responsive {
        background: url('/img/banner-top-responsive.png') no-repeat center;
        background-size: cover;
      }

      .r-responsive {
        background-image: linear-gradient(210deg, #0050dc, #ff4141);
      }

    }
  }
  section.banner {
    height: calc(100% + 390px);
    display: block;

    .left {
      margin-top: 100px;
      padding: 0 15px;

      h1 {
        font-size: 36px;
      }

      p {
        font-size: 14px;
        margin: 40px 0;
      }
    }

    .right {
      margin-top: 40px;

      .form {
        .form-group {
          margin-bottom: 0;

          .form-control {
            margin-bottom: 20px;

            &.error {
              .error-label {
                bottom: 5px;
              }
            }
          }

        }

        .form-button {
          padding: 30px 0;
        }
      }

      .message {
        height: 100vh;
      }
    }
  }
  section.services {
    display: block;
    height: 100%;

    .bl-main > section {
      width: 100%;
      height: 100%;

      &:first-child, &:nth-child(2), &:nth-child(3) {
        left: 0;
        top: 0;
        background: none;
        height: 33.33%;
      }

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 33.33%;
      }

      &:nth-child(3) {
        top: 66.66%;
      }


      .bl-box {
        h2 {
          margin: 0 0 20px;
        }

        .overlay {
          height: 40%;
          top: 60%;
        }
      }

      .bl-content {
        .right {
          width: 100%;
          padding: 15px;

          .data {
            h2 {
              margin-bottom: 15px;
            }

            ol {
              padding: 0;
            }

            ul {
              margin-left: 3px;
            }

            .action {
              margin-top: 15px;
            }
          }
        }
      }

      .bl-icon-close {
        left: calc(100% - 75px);
        top: 30px;
      }
    }

    section {
      &:nth-of-type(1) {
        .bl-box {
          top: 0;
          height: 100%;
          z-index: 50;
          background: url('../../img/service01.png') no-repeat center;
          background-size: cover;
        }
      }

      &:nth-of-type(2) {
        .bl-box {
          top: 0;
          height: 100%;
          z-index: 50;
          background: url('../../img/service02.png') no-repeat center;
          background-size: cover;
        }
      }

      &:nth-of-type(3) {
        .bl-box {
          top: 0;
          height: 100%;
          z-index: 50;
          background: url('../../img/service03.png') no-repeat center;
          background-size: cover;
        }
      }
    }

    section.bl-expand.bl-expand-top {
      top: 0;
      height: 100%;
    }
  }
  section.brands {
    .title {
      padding-top: 50px;

      h2 {
        font-size: 24px;
      }
    }

    .brands-container {
      display: block;
      padding-top: 50px;
      text-align: center;

      img {
        width: 130px;
        height: auto;
        margin: 10px;
      }
    }
  }
  footer {
    .footer-info {
      display: none;
    }

    .footer-info-r {
      background-color: $c-0;
      padding: 20px;

      .social {
        width: 100%;
        text-align: center;
        margin-top: 10px;

        .social-list {
          padding: 0;
        }
      }

      .contact {
        width: 100%;
        text-align: center;

        .contact-list {
          list-style: none;
          padding: 0;

          li {
            margin: 10px 0;

            a {
              font-size: 14px;
              text-transform: none;
              line-height: 1.5;
            }

            &:before {
              content: none;
            }
          }
        }
      }
    }

    .footer-copyright {
      ul {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 414px) {
  section.banner {
    height: calc(100% + 300px);
  }
}

@media (max-width: 375px) {
  section.banner {
    height: calc(100% + 390px);
  }
  section.brands {
    height: calc(100vh - 275px);
  }
}

@media (max-width: 360px) {
  section.banner {
    height: calc(100% + 420px);
  }
}

@media (max-width: 320px) {
  header {
    nav {
      .container {
        .button-header {
          .button {
            width: 115px;
          }
        }
      }
    }
  }

  section.banner {
    height: calc(100% + 600px);
  }

  section.services {
    .right {
      .data {
        line-height: 1.1;
      }
    }
  }

  section.brands {
    height: calc(100vh - 130px);
  }
}

@media (width: 320px) and (height: 568px) {
  section.banner {
    height: calc(100% + 510px);
  }
}