#home
  .banner
    overflow hidden
    height calc( 100vh - 110px )

.banner-slider
  list-style none
  padding 0
  margin 0
  position relative

  .slick-dots
    position absolute
    bottom 15px
    left 0
    right 0

    li
      button
        background c-white

  .banner-item
    background-size cover
    background-position center
    position relative
    padding-top 100px
    padding-bottom 100px
    padding-left 30%
    padding-right 30px
    height calc( 100vh - 110px )

    &:after
      content ''
      background-color rgba(0, 35, 71, 0.4)
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      z-index 0

    .banner-item-cnt
      display table
      height 100%
      padding-left 40px

  .banner-info
    display table-cell
    vertical-align middle
    position relative
    z-index 1
    max-width 600px

  .banner-button
    .button
      border-color c-white
      color c-white

      &:after
        background c-white

      &:hover
        color c-0

  .banner-title
    margin-bottom 18px

    h3
      margin 0
      font-size 36px
      color c-white
      font-family t-1
      text-shadow 2px 3px 5px #21212159
  
  .banner-text
    h2
      color   c-white
      text-shadow 2px 3px 5px #21212159
.banner-cnt
  position relative
  background #eeeeee
  .banner-side
    pointer-events none
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    width 100%
    height 100%
    //width 366px
    z-index 1

    &:after
      content ''
      position absolute
      top 0
      bottom 0
      left 0
      width 30%
      background rgba(0, 35, 71, 0.70)

    .container
      height 100%
      position relative

    .banner-text
      position absolute
      bottom 58px
      padding-left 15px
      left 0
      z-index 2
      max-width 120px

      p
        color c-1
        font-size 18px
        line-height 24px

      &:after
        content ''
        position absolute
        bottom -4px
        left 15px
        width 50px
        height 4px
        background c-1

.home-about
  background c-2
  padding-top 149px
  padding-bottom 148px

  .home-about-cnt
    clearfix()
    font-family t-0
    margin-bottom 19px

  .left,
  .right
    width 50%

  .title
    margin-bottom 8px

  .home-text
    padding-right 110px
    padding-top 18px
    margin-bottom 30px

    p
      margin 0
      line-height 25px
      font-family t-0

  .home-img
    img()
    padding-left 15px

  .home-list
    list-un()
    margin-bottom 39px
    font-family t-0

    li
      padding-left 20px
      position relative
      line-height 42px

      &:after
        font-family icomoon
        font-size 10px
        content '\e90c'
        position absolute
        top 0
        left 0

.home-service
  background-image linear-gradient(258deg, #0050dc, #ff4141)
  padding-top 193px
  padding-bottom 200px
  position relative

  .left,
  .right
    width 50%

  .title
    max-width 320px
    margin-left auto
    margin-right auto
    text-align center
    margin-bottom 195px

    h2
      color c-white
      font-family t-0

  .home-service-links
    position absolute
    top 0
    bottom 0
    margin auto
    height 20px
    left 0
    right 0
    padding 0 80px

    a
      font-size 24px
      color c-white

    .icon
      margin-left 20px
      font-size 12px
    clearfix()

    .left
      text-align left

    .right
      text-align right

  .home-service-btn
    text-align center

  .button
    border-color c-white
    color c-white
    width 200px

    &:after
      background c-white

    &:hover
      span
        color c-0

//.title
//  margin-bottom 39px
//.home-list
//  list-un()
//  padding-top 60px
//  margin-left 15px
//  .home-list-icon
//    width 50px
//    height 50px
//    text-align center
//    background c-0
//    border-radius 50%
//    span
//      color c-white
//      line-height 50px
//  .home-list-item
//    position relative
//    margin-bottom 78px
//  .home-list-icon
//    position absolute
//    top 0
//    left 0
//  .home-list-info
//    padding-left 74px
//  .home-list-title
//    font-family t-1
//    margin-bottom 17px
//    h3
//      margin 0
//      font-size 16px
//  .home-list-text
//    p
//      margin 0
//      font-family t-0
//.home-img
//  padding-right 15px
//  img()
.banner
  .slick-slide
    font-size 14px
    color #fff

.home-product
  background c-2
  padding-top 100px
  padding-bottom 100px

  .title
    text-align center
    margin-bottom 48px

.product-button
  text-align center

.product-list
  clearfix()
  margin-bottom 48px

.slick-slider
  .product-item
    margin-bottom 0

.home-alliance
  padding-top 114px
  padding-bottom 120px

  .title
    text-align center
    margin-bottom 110px

.alliance-list
  list-un()
  text-align center

  li
    display inline-block
    vertical-align middle
    margin-left 25px
    margin-right 25px

  img
    width auto
    height 50px

.product-item
  background #eeeeee
  float left
  margin 0 15px
  position relative
  max-width 270px
  padding-bottom 70px
  margin-bottom 70px
  display block
  transition-all()

  .product-photo
    overflow hidden
    display block
    width 270px
    height 280px
    background c-2
    img()

  .product-name
    position absolute
    display flex
    align-items center
    left 0
    bottom 0
    right 0
    background rgba(238, 238, 238, 0.85)
    padding 12px 16px
    color #002347
    font-size 16px
    text-align left
    top 280px
    transition-all()

    span
      position relative
      padding-bottom 0
      transition-all()

      &:after
        content ''
        opacity 0
        position absolute
        background #424242
        width 45px
        height 2px
        left 0
        bottom -15px

.product-filter-nav
  text-align center
  margin-bottom 48px

  .product-filter-list
    list-un()

  .product-filter-item
    display inline-block
    vertical-align middle
    margin 7px

    &.active
      .button
        padding 10px 28px
        border 0
        color c-white

        &:after
          opacity 1

.about-mv
  display table
  width 100%

  .left,
  .right
    width 50%
    display table-cell
    position relative
    float none

  .about-mission
    h3
      color c-0
      transition ease all 0.5s

    p
      color c-0
      transition ease all 0.5s

  .about-mission,
  .about-vision
    .about-bg
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      opacity 0
      background-color c-0
      z-index 1
      bg-cover()
      transition ease all 0.5s

    .about-desc
      padding 312px 126px 264px 83px
      position relative
      z-index 2

    &.first
      .about-bg
        opacity 1

      .about-desc
        h3
          color c-white

        p
          color c-white

    &:hover
      .about-bg
        opacity 1 !important

        h3
          color c-0 !important

        p
          color c-0 !important

      .about-desc
        h3
          color c-white !important

        p
          color c-white !important

    h3
      font-size 36px
      font-family t-1

    p
      font-size 20px
      line-height 24px
      font-family t-0

  &:hover
    .first
      .about-bg
        opacity 0

      .about-desc
        h3
          color c-0
        p
         color c-0

  .about-button
    display none
    text-align center

    .button
      width 151px
      color c-white
      border-color c-white

.about-we
  background c-2

.about-values
  background c-2
  padding-top 163px
  padding-bottom 163px

  .left,
  .right
    width 50%

  .about-img
    img()
    padding-right 15px

  .title
    margin-bottom 30px

  .value-list
    list-un()
    padding-left 15px
    margin-left 15px

    li
      position relative
      padding-left 67px

      &:after
        content '\e90c'
        position absolute
        top 0
        left 0
        font-size 21px
        font-family icomoon

    h3
      font-family t-1

    p
      font-family t-0
      line-height 17px

.faq-list
  list-un()

  .faq-item
    margin-bottom 30px

    .faq-link
      position relative
      padding 10px 0
      display block
      border-bottom 2px solid c-4
      color c-4
      transition-all()

      h3
        margin 0

      &:after
        content '\e902'
        position absolute
        font-size 15px
        height 15px
        width 15px
        font-family icomoon
        color c-4
        top 0
        right 11px
        bottom 0
        margin auto
        transition-all()

    &.active
      .faq-link
        color c-0
        border-bottom 2px solid c-0

        &:after
          content '\e90d'
          color c-0

  .faq-content
    padding-top 20px
    display none

    p
      margin 0
      line-height 25px
      font-family t-0

.service-info
  .service-list
    padding-left 20px

.service-detail
  padding-top 103px
  padding-bottom 102px

  &.first
    background c-2

    .left,
    .right
      width 50%

    .service-img
      padding-right 52px
      img()

    .service-faq
      padding-left 15px
      padding-right 110px

  &.second
    .left,
    .right
      width 50%

    .service-img
      padding-left 52px
      img()

    .service-faq
      padding-right 110px

.service-desc
  max-width 865px
  margin auto
  text-align center
  margin-bottom 104px

  .title
    margin-bottom 60px

  .text
    p
      font-family t-0
      line-height 25px
      margin-bottom 25px

.event-detail
  padding-top 125px
  padding-bottom 125px

  .event-text
    line-height 25px
    font-family t-0
    margin-bottom 50px

  .title
    margin-bottom 30px

  .event-button
    .button
      width 170px
      height 34px
      font-size 16px

  &.first
    background c-2

    .left,
    .right
      width 50%

    .event-img
      padding-right 52px
      img()

  &.second
    .left,
    .right
      width 50%

    .event-img
      padding-left 52px
      img()

.contact
  background c-2
  padding-top 150px
  padding-bottom 142px

  .title
    margin-bottom 95px

  .contact-form
    max-width 870px
    margin auto

.find-us
  padding-top 86px
  padding-bottom 86px

  .title
    margin-bottom 51px

  .left
    width 350px

  .right
    width calc(100% - 350px)

  .find-map
    padding-left 40px

    .map
      width 100%
      height 663px

  .find-location
    height 663px
    overflow hidden

.location-list
  overflow auto
  height 100%
  padding-right 54px
  list-un()

  .location-item
    color c-0
    margin-bottom 20px
    border-bottom 1px solid c-5
    margin-top 18px
    transition-all()

    a
      display block
      color c-0

    &.active,
    &:hover
      a
        color c-1

  ul
    list-un()

    li
      position relative
      font-family t-0 !important
      padding-left 16px
      margin-bottom 15px
      line-height 17px

      &:before
        position absolute
        top 0
        left 0
        line-height 14px
        font-size 10px
        font-family icomoon !important

.product-filter
  padding-top 100px
  padding-bottom 100px

  .left
    width 270px

  .right
    width calc(100% - 270px)

  .product-list
    padding-left 15px

  .product-pagination
    text-align center
    margin-bottom 30px

.product-filter-sidebar
  background c-2

  .filter-title
    text-align center
    border-top-left-radius 17px
    border-top-right-radius 17px
    padding 8px 15px
    color c-white
    background c-0
    margin-bottom 40px

  .filter-widget
    padding 0 26px 40px 26px
    text-align left

    ul
      list-un()

.filter-widget
  padding-top 8px
  padding-bottom 8px

  .filter-widget-title
    padding-top 8px
    padding-bottom 8px

    h3
      margin 0
      font-family t-1
      font-size 16px

.filter-widget-list
  .filter-widget-item
    line-height 42px

    a
      color c-0

.form-checkbox
  input
    display none

    &:checked
      & + label
        .checkbox
          background c-0
          position relative

  a
    .check
      position relative
      width 14px
      height 14px
      display inline-block
      vertical-align middle
      border 2px solid c-0
      border-radius 2px
      margin-right 8px

      &:after
        font-family icomoon
        content '\e90c'
        position absolute
        width 9px
        height 9px
        font-size 9px
        top 0
        left 0
        line-height 9px
        color c-white
        font-weight bold
        bottom 0
        right 0
        margin auto

    &.active
      .check
        background c-0
        position relative

  label
    cursor pointer

    .checkbox
      position relative
      width 14px
      height 14px
      display inline-block
      vertical-align middle
      border 2px solid c-0
      border-radius 2px
      margin-right 8px
      transition-all()

      &:after
        font-family icomoon
        content '\e90c'
        position absolute
        width 9px
        height 9px
        font-size 9px
        top 0
        left 0
        line-height 9px
        color c-white
        font-weight bold
        bottom 0
        right 0
        margin auto

.event-detail-banner
  position relative
  padding-top 303px
  padding-bottom 49px

  &:after
    content ''
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    background rgba(0, 0, 0, 0.4)
    z-index 0

  .title
    position relative
    text-align center
    z-index 1

    h2
      font-size 36px
      font-family t-0
      color c-white

  .post-title
    max-width: 865px
    margin: auto
    text-align: initial
    position relative
    z-index 1

    h2
      font-size 36px
      font-family t-0
      color c-white

    span
      font-family t-0
      font-size 18px
      color c-white


.event-detail-desc
  padding-top 100px
  padding-bottom 100px

  .event-detail-text
    max-width 865px
    margin auto

    p
      font-family t-0
      margin 0
      line-height 25px

  .post-detail-text
    max-width 865px
    margin auto

    p
      font-family t-0
      line-height 25px

.event-detail-gallery
  padding-bottom 101px

  .share
    padding 0 20px
    display: flex;
    justify-content: flex-end;

    a
      text-decoration: none;
      color #002347

.gallery-list
  list-un()
  text-align center
  .gallery-item
    display inline-block
    vertical-align middle
    max-width 70%
    height auto
    margin 0 13px 40px 13px
    img()

.event-last
  padding-top 128px
  padding-bottom 128px

  .title
    margin-bottom 60px

  .event-button
    text-align center

    .button
      width 100%
      max-width 270px

.event-list
  text-align center
  margin-left -15px
  margin-right -15px
  margin-bottom 50px
  clearfix()

.event-item
  background #eeeeee
  float left
  margin 0 15px
  position relative
  max-width 370px
  padding-bottom 70px
  margin-bottom 20px
  display block

  .event-photo
    overflow hidden
    width 370px
    height 280px
    display block
    background c-2
    img()

  .event-name
    position absolute
    display flex
    flex-wrap wrap
    align-items center
    left 0
    bottom 0
    right 0
    background rgba(238, 238, 238, 0.7)
    padding 12px 16px
    color #002347
    font-size 16px
    top 280px
    transition-all()

    span
      position relative
      padding-bottom 0
      transition-all()

      &:after
        content ''
        opacity 0
        position absolute
        background #424242
        width 45px
        height 2px
        left 0
        bottom -15px

#products_category
  .thank
    &-img
      img
        left 0
    
    .title
      text-align center
      h2
        font-size 32px

.product-detail
  padding-top 133px
  padding-bottom 50px

  .clearfix
    display flex
    width 100%
    justify-content space-between
    flex-wrap wrap
    align-items center

  .left,
  .right
    float none

  .left
    width 45%

  .right
    width 55%

  .product-desc,
  .product-help
    padding-left 32px

  .product-desc
    margin-bottom 115px

  .product-help
    text-align left

    .product-cataloge,
    .product-contact
      display inline-block
      vertical-align middle
      margin-left 0
      margin-right 15px

    .button
      width 170px

.product-description
  background c-2
  padding-top 114px
  padding-bottom 120px

.product-img
  img()

  .product-img-list
    list-un()

  .product-img-item
    img()

.product-title
  margin-bottom 57px

.thank
  padding-top 229px
  padding-bottom 201px

  .title
    text-align center
    margin-bottom 93px

  .thank-img
    margin-bottom 102px

    img
      position relative
      left -50px
      max-width 100%
      height auto
      display block
      margin auto

.error-404
  padding-top 105px
  padding-bottom 217px

  .title
    text-align center
    margin-bottom 93px

  .error-404-img
    margin-bottom 102px

    img
      max-width 100%
      height auto
      display block
      margin auto

.politic
  padding-top 100px
  padding-bottom 100px

  .title
    text-align center
    margin-bottom 46px

  .politic-text
    font-size 16px
    margin-bottom 58px

    p
      margin-top 0
      margin-bottom 20px

    ul
      list-un()

      li
        position relative
        padding-left 26px
        line-height 24px
        margin-bottom 20px

        &:after
          content '\e90c'
          position absolute
          top 0
          left 0
          font-size 10px
          font-family icomoon

  .politic-button
    text-align center

.certification
  padding-top 100px
  padding-bottom 120px

  .title
    text-align center
    margin-bottom 90px

  .certification-list
    list-un()
    text-align center
    margin-bottom 120px

    .certification-item
      max-width 270px
      display inline-block
      margin-left 10px
      margin-right 10px
      margin-bottom 43px
      img()

  .certification-button
    text-align center

.search-product
  padding-top 100px
  padding-bottom 121px

  .search-product-message
    .title
      text-align center
      margin-bottom 85px

    .text
      p
        font-size 36px
        font-family t-1
        margin-bottom 60px

  .product-item
    margin-left 10px
    margin-right 10px

  .search-product-button
    text-align center

    .button
      width 170px

.search-product-message
  .product-message-text
    padding-left 30px
    font-size 16px

    .title
      h2
        font-size 32px
        font-family t-1

    .text
      p
        font-size 20px

.about-corporation
  padding-top 90px
  padding-bottom 90px

  .title
    margin-bottom 50px

.corporation-list
  text-align center
  font-size 0

  .corporation-item
    display inline-block
    vertical-align top
    padding-left 15px
    padding-right 15px
    margin-bottom 50px
    width 33.33%
    font-size 12px

    img
      max-width 170px

.product-category
  padding-top 133px
  padding-bottom 133px

  &.category-2
    background c-2

  .title
    position relative
    margin-bottom 60px

  .button-filter
    position absolute
    top 0
    right 0
    display inline-block
    background c-0
    padding 10px 27px
    width 270px
    height 38px
    border-radius 25px
    text-decoration none
    font-family t-1
    cursor pointer
    color c-white
    text-align center
    font-size 16px
    transition ease all 0.4s

    &:hover
      background c-1

  .product-category-btn
    padding-top 50px
    text-align center

    .button
      width 170px

.product-categories
  .product-list
    height 350px
    overflow hidden

.home-category
  padding-top 90px
  padding-bottom 25px

  .title
    text-align center
    padding-bottom 30px

  .category-text
    margin auto
    max-width 600px
    text-align center
    margin-bottom 40px
    line-height 25px

  .category-list
    margin-bottom 103px
    clearfix()

  .home-category-button
    text-align center

    .button
      width 330px

.category-item
  background c-0
  float left
  margin 0 15px
  position relative
  max-width 270px
  display block

  a
    display block

  .category-photo
    overflow hidden
    display block
    width 270px
    height 320px
    background c-2
    img()

  .category-name
    overflow hidden
    position absolute
    top 320px
    left 0
    bottom 0
    right 0
    background rgba(0, 35, 71, 0.9)
    padding-left 16px
    padding-right 16px
    color c-white
    font-size 16px
    transition-all()

    span
      position absolute
      left 26px
      bottom 80px

      &:after
        content ''
        background c-white
        position absolute
        width 45px
        height 2px
        left 0
        bottom -17px

@media screen and (max-width 1366px)
  .event-last
    .title
      text-align center

  .event-item
    max-width 235px
    display inline-block
    vertical-align middle
    float none

    .event-photo
      width 235px
      height 180px

    .event-name
      top 180px

//@media screen and (max-width 1230px)
//  .banner-cnt
//    .banner-side
//      width 230px
//      .banner-text
//        left 30px
//  .banner-slider
//    .banner-item
//      width 260px
//  .banner-slider
//    .banner-item
//      padding-left 280px
@media screen and (max-width 992px)
  .home-about
    .left,
    .right
      float none
      width 100%

    .title
      margin-bottom 18px

    .home-text
      padding-right 0

  .home-service
    .left,
    .right
      float none
      width 100%

  .home-about
    padding-top 116px
    padding-bottom 61px

    .title
      text-align center

    .container
      max-width 570px

    .home-img
      padding-left 0

    .home-button
      text-align center

      .button
        width 170px

  .home-service
    padding-top 123px
    padding-bottom 109px

    .title
      text-align center

    .container
      max-width 570px

    .home-list
      .home-list-item
        margin-bottom 62px

        &:last-child
          margin-bottom 0

  .about-mv
    .about-vision
    .about-mission
      padding 30px 27px 30px 28px

      .about-desc
        padding 60px 126px 64px 83px

  .about-values
    padding-top 115px
    padding-bottom 73px

    .left,
    .right
      width 100%
      float none

    .title
      text-align center

    .container
      max-width 570px

    .left
      padding-right 0

    .about-img
      margin-bottom 96px

  #home
    .banner
      height 500px

  .banner-cnt
    height auto !important

  .banner-cnt
    .banner-side
      .banner-text
        margin-left 15px

  .product-categories
    padding-top 132px

  .product-category
    padding-top 54px
    padding-bottom 60px

    .button-filter
      top -90px

  .product-filter
    padding-top 28px

    .left
      width 166px

    .right
      width calc(100% - 166px)

  .service-detail
    .clearfix
      max-width 570px
      margin auto

    .service-img
      margin-bottom 42px

    &.first,
    &.second
      .left,
      .right
        width 100%
        float non

    &.first
      .service-img
        padding-right 0

      .service-faq
        padding-left 0
        padding-right 0

    &.second
      .service-img
        padding-Left 0

      .service-faq
        padding-right 0

  .event-detail
    padding-top 83px

    .container
      max-width 570px

    .event-img
      margin-bottom 63px

    &.first,
    &.second
      .left,
      .right
        float left
        width 100%

    &.first
      .event-img
        padding-right 0

    &.second
      .event-img
        padding-left 0

  .contact
    padding-top 80px
    padding-bottom 108px

    .title
      margin-bottom 63px

  .find-us
    .find-map
      padding-left 15px

      .map
        height 373px

    .find-location
      height 614px

  .location-list
    padding-right 25px

  .certification
    padding-top 68px
    padding-bottom 58px

    .certification-list
      margin-bottom 0

      .certification-item
        margin-left 15px
        margin-right 15px

  .error-404
    padding-bottom 139px

    .title
      margin-bottom 65px

  .politic
    padding-top 58px
    padding-bottom 87px

  .thank
    padding-top 135px
    padding-bottom 160px

  .search-product
    padding-top 63px
    padding-bottom 108px

  .product-detail
    .left
      left 45%

    .right
      width 55%

    .product-help
      .button
        width 150px

      .product-cataloge,
      .product-contact
        margin-left 5px
        margin-right 5px

    .product-desc
      margin-bottom 40px

  .product-filter
    .left,
    .right
      width 100%

    .product-list
      padding-left 0
      padding-top 40px

    .product-item
      margin-left 10px
      margin-right 10px

  .product-filter-sidebar
    background c-0
    margin-left -15px
    margin-right -15px

    .filter-title
      position relative
      padding 24px 19px
      text-align left
      margin-bottom 0
      cursor pointer
      font-family t-1

      span
        margin-right 6px

      &:after
        content '\e902'
        position absolute
        top -2px
        bottom 0
        right 19px
        font-family icomoon
        margin auto
        color c-white
        font-size 15px
        width 15px
        height 15px
        transition-all()

    &.open
      .filter-title
        &:after
          content '\e90d'

    .product-filter-collapse
      display none

    .filter-widget
      color c-white
      padding-bottom 22px
      padding-left 19px
      padding-right 19px

      .filter-widget-title
        border-bottom 1px solid c-white
        position relative
        cursor pointer

        h3
          font-size 16px

        &:after
          content '\e902'
          position absolute
          top -2px
          bottom 0
          right 0
          font-family icomoon
          margin auto
          color c-white
          font-size 15px
          width 15px
          height 15px
          transition-all()

      &.open
        .filter-widget-title
          &:after
            content '\e90d'

      .filter-widget-collapse
        display none

  .home-service
    padding-top 120px

    .home-service-links
      position relative

      .left,
      .right
        width 100%
        float none
        text-align center

      .left
        margin-bottom 35px

    .title
      margin-bottom 36px

    .home-service-btn
      margin-bottom 182px

  .banner-slider
    .banner-item
      height 500px !important

@media screen and (max-width 915px)
  .product-filter
    .product-list
      max-width 580px
      margin auto

@media screen and (max-width 768px)
  .loader
    display: none

  .banner-slider
    .slick-dots
      left auto
      right 15px

  .banner-info
    .banner-title,
    .banner-text,
    .banner-button
      text-align center

  .home-about
    padding-top 65px
    padding-bottom 64px

    .title
      margin-bottom 32px

    .home-img
      display none

    .home-text
      padding-top 0
      text-align center

    .home-list
      display none

  .home-product
    .product-filter-nav
      display none

  .home-service
    .title
      margin-bottom 32px

      h2
        font-size 32px

    .home-img
      display none

    .button
      width 171px

    .home-service-links
      padding 0 15px

      a
        font-size 20px

    .home-list
      padding-top 0

      .home-list-icon
        display none

      .home-list-info
        padding-left 0

      .home-list-item
        text-align center

  .home-product
    padding-top 65px
    padding-bottom 64px

    .title
      margin-bottom 32px

  .home-alliance
    padding-top 65px
    padding-bottom 34px

    .title
      margin-bottom 32px

  .about-corporation
    .title
      text-align center

  .corporation-list
    .corporation-item
      width 50%

      &.fix
        display none

  .contact
    padding-top 62px
    padding-bottom 64px

    .title
      margin-bottom 32px

    .contact-form
      padding-left 35px
      padding-right 35px

      .form-button
        .button
          width 100%

  .product-filter
    padding-top 0

  .find-us
    padding-bottom 0

    .left,
    .right
      width 100%
      float none

    .find-location
      height 300px
      margin-bottom 51px

    .find-map
      padding-left 0

  .alliance-list
    .alliance-item
      max-width 100px
      img()

  .slick-slider
    .slick-prev,
    .slick-next
      opacity 1
      width 90px

    .slick-prev
      &:after
        left 15px

    .slick-next
      &:after
        right 15px

  .product-title
    margin-bottom 37px

  .product-img
    margin-bottom 32px

  .product-filter
    .product-list
      max-width 500px

  .product-detail
    padding-top 64px
    padding-bottom 47px

    .left,
    .right
      float none
      width 100%

    .product-desc,
    .product-help
      padding-left 0

    .product-desc
      margin-bottom 32px

  .product-description
    padding-top 40px
    padding-bottom 40px

  .product-filter-nav
    display none

  .category-item
    .category-name
      position relative
      background c-0
      top 0
      height 70px
      padding 12px 16px
      display flex
      justify-content center
      align-items center

      span
        position relative
        top 0
        left 0

        &:after
          display none

  .form-checkbox
    label
      .checkbox
        background c-0
        border 2px solid c-white

        &:after
          color c-0

    a
      .check
        background c-0
        border 2px solid c-white

        &:after
          color c-0

      &.active
        .check
          background c-white

    input
      &:checked
        & + label
          .checkbox
            background c-white

  .product-item
    max-width 230px

    .product-photo
      width 230px
      height 240px

    .product-name
      top 240px

      span
        font-size 16px

  .about-mv
    display block

    .left,
    .right
      display block
      width 100%
      float none

    .about-mission,
    .about-vision
      width 100%
      display block

      .about-bg
        opacity 1 !important

      .about-desc
        padding 95px 15px

      h3
        color c-white
        margin 0
        font-size 20px
        margin-bottom 32px

      p
        color c-white
        margin 0
        font-size 16px

    .about-button
      padding-top 55px
      display block

    .about-vision
      display none

  .about-values
    padding-top 75px
    padding-bottom 74px

    .about-img
      display none

    .value-list
      padding-left 0
      margin-left 0

      li
        padding-left 30px

        &:after
          font-size 16px

  .service-info,
  .event-info
    .title
      text-align left

  .load-more
    padding-top 64px
    padding-bottom 64px

  .event-detail
    padding-top 32px
    padding-bottom 32px

    .title
      margin-bottom 25px

    .event-text
      margin-bottom 24px

    .event-button
      text-align center

  .service-detail
    padding-top 64px
    padding-bottom 64px

  .service-desc
    margin-bottom 24px

    .title
      text-align left
      margin-bottom 24px

    .text
      text-align left

  .event-detail-banner
    padding-top 183px
    padding-bottom 32px

    .title
      h2
        font-size 20px

  .event-detail-desc
    padding-top 32px
    padding-bottom 40px

  .event-last
    padding-top 32px
    padding-bottom 40px

  .event-item
    max-width 245px

    .event-name
      top 185px

  .find-us
    padding-top 64px

    .find-location
      margin-bottom 32px

    .find-map
      margin-left -15px
      margin-right -15px

  .search-product
    .search-product-message
      .title
        font-size 32px

      .text
        p
          font-size 20px

  #home
    .banner
      height 400px

  .banner-cnt
    .banner-side
      &:after
        width 250px

  .banner-slider
    height 400px

    .banner-info
      display none

    .banner-item
      height 400px !important

/*.banner-cnt
  clearfix()
  .banner-slider
    height 400px
    .banner-info
      display none
    .banner-item
      height 400px !important
  .banner-side
    width 152px
    .banner-text
      left 36px
      bottom 38px
      p
        padding-bottom 15px*/

@media screen and (max-width 600px)
   #products_category
    .thank
      .title
        text-align center
        h2
          font-size 30px

@media screen and (max-width 560px)
  .product-filter
    .product-item
      margin 0 auto 20px auto
      display block
      float none

  .home-service
    .home-service-btn
      margin-bottom 100px

  .corporation-list
    .corporation-item
      width 100%
      display block

  .slick-slider
    .slick-prev,
    .slick-next
      width 45px

    .slick-prev
      &:after
        left 6px
        font-size 24px

    .slick-next
      &:after
        right 6px
        font-size 24px

  .event-item
    margin 0 auto 20px auto
    display block
    float none

  .home-category
    .home-category-button
      .button
        width 280px
        padding 8px 15px

  .post-info
    padding 0 !important

@media screen and (min-width 769px)
  .footer-item-collapse
    display block !important
    height auto !important

  .about-mv
    .about-mission,
    .about-vision
      display block !important

@media screen and (min-width 993px)
  .filter-widget-collapse,
  .product-filter-collapse
    display block !important
    height auto !important

  .product-item
    &:hover
      .product-name
        top 0
        bottom 70px

        span
          padding-bottom 15px

          &:after
            bottom 0
            opacity 1
            transition-all()
            transition-delay 0.3s

  .event-item
    &:hover
      .event-name
        top 0
        bottom 70px

        span
          padding-bottom 15px

          &:after
            bottom 0
            opacity 1
            transition-all()
            transition-delay 0.3s

  .category-item
    &:hover
      .category-name
        top 0