.footer
  font-family t-0
  color c-white
  position relative
  &:after
    content ''
    position absolute
    top 0
    left 0
    right 0
    margin auto
    width 100%
    height 6px
    background-image linear-gradient(to right, #ff4141, #0050dc)
.footer-info
  position relative
  background c-0
  padding-top 60px
  padding-bottom 60px
  .container
    clearfix()
    max-width 950px
.footer-item
  width 25%
  float left
  ul
    list-un()
    li
      font-size 14px
  p
    font-size 14px
  h3
    font-family t-1
    font-size 16px
  a
    color c-white
.footer-copyright
  background c-3
  padding-top 23px
  padding-bottom 22px
  color #385573
  font-size: 14px
  ul
    list-un()
    text-align center
  li
    display inline-block
    vertical-align middle
    line-height 20px
    &:first-child
      &:after
        content '|'
        display inline-block
        margin-left 5px
        margin-right 5px
  a
    color #385573
.footer-about
  padding-right 30px
  p
    line-height 17px
.footer-products
  display none
.footer-links,
.footer-links-2
  ul
    padding-left 4px
  li
    line-height 24px
    position relative
    padding-left 14px
    &:after
      width 10px
      content '\e90e'
      font-family icomoon
      font-size 6px
      color c-white
      position absolute
      left 0
      right 0
  a
    &:hover
      text-decoration underline
.footer-links-2
  display none
.footer-contact
  .social-list
    display none
  .contact-list
    padding-left 4px
    li
      position relative
      font-family t-0 !important
      padding-left 16px
      margin-bottom 15px
      line-height 17px
      &:before
        position absolute
        top 0
        left 0
        line-height 14px
        font-size 10px
        font-family icomoon !important
      a
        &:hover
          text-decoration underline
.social-list
  list-un()
  .social-item
    display inline-block
    vertical-align middle
    margin-right 9px
    a
      display block
      width 38px
      height 38px
      border 2px solid c-white
      border-radius 50%
      background c-white
      text-align center
      transition-all()
      span
        font-size 20px
        color c-0
        line-height 36px
        transition-all()
      &:hover
        border 2px solid c-white
        background transparent
        span
          color c-white
@media screen and (max-width 992px)
  .footer-info
    padding-top 70px
    padding-bottom 54px
  .footer-item
    padding-right 15px
  .footer-social,
  .footer-about
    display none
  .footer-links
    width 25%
  .footer-products
    display block
    width 37.5%
  .footer-contact
    width 37.5%
    .social-list
      display block
  .social-list
    .social-item
      a
        width 30px
        height 30px
        span
          font-size 15px
          line-height 26px
@media screen and (max-width 768px)
  .footer-info
    padding-top 32px
    padding-bottom 32px
  .footer-item
    width 100%
  .footer-social,
  .footer-links-2
    display block
  .footer-products,
  .footer-links
    display none
  .footer-contact
    .social-list
      display none
  .footer-item
    .footer-item-collapse
      display none
  .footer-contact,
  .footer-links-2
    .footer-item-title
      position relative
      h3
        cursor pointer
        &:after
          display inline-block
          vertical-align middle
          content '\e914'
          font-family icomoon
          margin-left 10px
          color c-white
          font-size 8px
          line-height 14px
          width 15px
          height 15px
          transition-all()
    &.open
      .footer-item-title
        h3
          &:after
            content '\e913'
  .footer-copyright
    li
      display block
      &:first-child
        &:after
          display none
  .mobile-widget
    #mobile-widget
      display block
      line-height 48px
      border-radius 50%
      width 40px
      height 40px