.loader
  background c-white
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  width 100%
  height 100%
  overflow hidden
  z-index 20

  .loader-icon
    display block
    width 102px
    height 100px
    background-image url('../img/logo-min.svg')
    background-size cover
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    animation pulse 1.2s infinite

.loading
  overflow hidden

.button
  position relative
  overflow hidden
  display inline-block
  padding 8px 26px
  height 38px
  border-radius 25px
  background transparent
  border 2px solid c-0
  text-decoration none
  font-family t-1
  cursor pointer
  color c-0
  text-align center
  font-size 16px
  transition ease color 0.4s

  &:after
    content ''
    opacity 0
    visibility hidden
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    display block
    border-radius 25px
    background-image linear-gradient(258deg, #ff4141, #0050dc)
    z-index 0
    transition ease all 0.5s

  span
    position relative
    z-index 1
    line-height 16px

  &:hover,
  &.active
    padding 10px 28px
    border 0
    color c-white

    &:after
      opacity 1
      visibility visible

.button-group
  list-un()
  text-align center

  li
    display inline-block
    vertical-align middle
    margin: 10px 35px

  .button
    width 170px

.title
  h1,
  h2
    font-family t-1
    font-size 36px
    color c-0
    margin 0

.back-top
  opacity 0
  visibility hidden
  position fixed
  bottom 80px
  right 40px
  background c-white
  width 60px
  height 60px
  border-radius 50%
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  z-index 10
  transition-all()

  &:after
    content '\e913'
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    margin auto
    width 30px
    height 30px
    font-size 30px
    line-height 28px
    color c-0
    font-family icomoon
    transition-all()

  &:hover
    background c-1
    box-shadow 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)

    &:after
      color c-white

  &.show
    opacity 1
    visibility visible

.sb
  position relative

  &:after
    content ''
    position absolute
    top 0
    left 0
    right 0
    margin auto
    width 270px
    height 2px
    background-image linear-gradient(to right, #ff4141, #0050dc)

.load-more
  padding 80px 0
  text-align center

  .button
    width 270px

.form
  .form-control
    margin-bottom 30px
    position relative

    &.active,
    &.focus
      .form-label
        top -15px
        height 20px
        line-height 20px
        font-size 11px

    &.error
      .error-label
        display block
        width 100%
        position absolute
        font-size 11px
        bottom -16px
        left 0
        color #f00

        &:after
          content '\e916'
          position absolute
          top 0
          right 0
          font-family icomoon
          font-size 12px
          width 12px
          height 12px

      .form-input
        input
          border-bottom 2px solid #f00

      .form-select
        select
          border-bottom 2px solid #f00

      .form-textarea
        textarea
          border-bottom 2px solid #f00

  .error-label
    display none

  .form-input
    input
      width 100%
      border 0
      border-radius 0
      padding-left 10px
      font-size 16px
      background transparent
      height 30px
      line-height 30px
      border-bottom 2px solid c-0

  .form-select
    position relative

    select
      border 0
      padding-left 10px
      background transparent
      appearance none
      font-size 16px
      border-radius 0
      width 100%
      height 30px
      line-height 30px
      border-bottom 2px solid c-0

    &:after
      content '\e914'
      position absolute
      top 0
      bottom 0
      right 8px
      margin auto
      height 10px
      width 10px
      font-size 10px
      line-height 10px
      color c-0
      font-family icomoon

  .form-textarea
    position relative

    textarea
      border 0
      padding-left 10px
      font-size 16px
      border-radius 0
      background transparent
      width 100% !important
      height 150px
      border-bottom 2px solid c-0

  .form-label
    position absolute
    top 0
    left 0
    pointer-events none
    padding-left 10px
    height 27px
    line-height 27px
    font-size 14px
    z-index 2
    transition-all()

  .form-button
    padding-top 28px
    text-align center

    .button
      width 270px

.summary
  padding-top 150px
  padding-bottom 150px

  .left
    width 25%

  .right
    width 75%

  p
    line-height 25px
    margin 0

.pagination
  list-un()
  font-size 0

  li
    display inline-block
    vertical-align middle
    border-top 1px solid c-5
    border-bottom 1px solid c-5
    border-right 1px solid c-5

    &:first-child
      border-left 1px solid c-5
      border-top-left-radius 3px
      border-bottom-left-radius 3px

    &:last-child
      border-top-right-radius 3px
      border-bottom-right-radius 3px

    &.active
      a,
      span
        background c-0
        color c-white

    .icon
      font-size 10px

    a,
    span
      display block
      width 48px
      height 48px
      text-align center
      line-height 48px
      font-size 14px
      color c-0
      background c-white
      transition-all()

    a
      &:hover
        background c-1
        color c-white

.tab
  .tab-nav
    list-un()
    border-bottom 4px solid c-0
    display block

    li
      display inline-block
      vertical-align bottom
      margin-left 20px

      a
        display block
        font-size 16px
        font-family t-1
        padding 6px 46px
        border-top-left-radius 15px
        border-top-right-radius 15px
        transition-all()

        &:hover
          background c-5

      &.active
        a
          background c-0
          color c-white

      &:first-child
        border-left 0

  .tab-content
    list-un()

    .tab-pane
      display none
      padding 42px 15px
      font-size 16px
      line-height 38px
      img()

      strong
        font-family t-1
        margin 0

      ul
        font-family t-0
        list-un()

        li
          position relative
          padding-left 28px

          &:after
            width 26px
            content '\e90c'
            font-family icomoon
            font-size 10px
            text-align center
            color c-0
            position absolute
            left 0
            right 0

      p
        font-family t-0

    .tab-pane
      &.active
        display block

.breadcrumb
  ul
    list-un()

  li
    display inline-block
    vertical-align middle

    &:before
      content '/'
      margin-left 3px
      margin-right 3px

    &:first-child
      &:before
        content none

  a
    color c-0

.slick-slider
  .slick-dots
    list-un()
    margin-top 10px
    text-align center

    li
      display inline-block
      vertical-align middle
      margin-left 3px
      margin-right 3px

      button
        display block
        font-size 0
        line-height 0
        padding 0
        cursor pointer
        border 0
        box-shadow 0
        height 6px
        width 6px
        border-radius 50%
        background c-0

      &.slick-active
        button
          height 12px
          width 12px

  .slick-prev,
  .slick-next
    opacity 1
    position absolute
    top 0
    bottom 0
    outline 0
    margin auto
    cursor pointer
    padding 0
    width 200px
    height 100%
    font-size 0
    border 0
    z-index 4
    transition-all()

    &:after
      position absolute
      top 0
      bottom 0
      height 30px
      line-height 30px
      margin auto
      font-size 30px
      font-family icomoon
      color c-0

  //&:hover
    //.slick-prev,
    //.slick-next
      //opacity 1

  .slick-prev
    left 0
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%)

    &:after
      left 30px
      content '\e912'

  .slick-next
    right 0
    background: linear-gradient(to left, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%)

    &:after
      right 30px
      content '\e90e'

.mobile-widget
  #mobile-widget
    width 40px

.post-info
  font-family t-0
  color #002347
  background-color #FAFAFA
  padding 0 80px

  .container
    .row
      .col-12
        margin: 100px 0 30px

        h2
          font-size 36px

      .col-4
        margin-bottom 40px

        .image
          background no-repeat fixed center
          background-size cover
          width 100%
          height 350px

        .data
          background-color #ffffff
          padding 15px

          .date
            margin-bottom 15px

            span
              font-size 14px

          .title
            span
              font-size 24px
              display: -webkit-box;
              height: 56px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;

          .description
            font-size 14px
            display: block
            height 140px
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            p
              line-height 1.5

          .more
            width 100%
            height 40px
            margin-top 20px

            a
            .button
              text-transform: uppercase

  .paginate
    text-align center
    padding 2em 0 5em

  .post-button
    text-align center
    padding 2em 0 5em

    .button
      padding 8px 70px


.webui-popover-content
  a
    color: #002347

@media screen and (max-width 1230px)
  .product-filter
    .clearfix
      max-width 890px
      margin auto

@media screen and (max-width 992px)
  .summary
    padding-top 90px
    padding-bottom 90px

    .left
      width 30%

    .right
      width 70%
  .filter-widget-list
    .filter-widget-item
      a
        color #ffffff !important

  .filter-widget-list
    .filter-widget-item
      a
        color #ffffff !important

@media screen and (max-width 768px)
  .summary
    .left,
    .right
      float none
      width 100%

    .title
      text-align center
      margin-bottom 30px

  .title
    h2,
    h1
      font-size 20px

  .tab
    .tab-nav
      li
        margin-left 0

        a
          padding-left 10px
          padding-right 10px
          font-size 14px

    .tab-content
      .tab-pane
        font-size 14px

        ul
          li
            line-height 30px

  .back-top
    //position absolute
    bottom 88px
    right 16px
    width 40px
    height 40px
    text-align center

    &:after
      font-size 18px

  .slick-slider
    .slick-prev,
    .slick-next
      background none

      &:after
        opacity 0.5

.comment
  padding 20px 0

  .media
    display block
    height 100%
    padding 30px 0
    width 100%

    .media-body
      padding 15px
      color #a0a3a7
      margin-bottom 5px

      &.bg-dark
        background-color #fafafa

      &.bg-white
        border 2px solid #f0f0f0

      &.text-left
        text-align left

      &.text-right
        text-align: right

      .media-heading
        margin-top 0

        strong
          font-weight bold
          color #002347

        span
          color: #ff4141

      p
        margin-bottom 0

  #more-comments
    width 270px

  .form
    .form-group
      .form-control
        .form-textarea
          textarea
            height 80px

    .form-button
      padding 30px 0