.header-primary,
.header-scroll
  position relative
  background c-white
  &:after
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    margin auto
    width 100%
    height 6px
    background-image linear-gradient(to right, #ff4141, #0050dc)
  .header-cnt
    padding-top 19px
    padding-bottom 19px
  .logo
    a
      display block
      width 235px
      height 73px
      font-size 0
      background url('../img/logo.svg');
      background-size cover
  .menu-primary
    display inline-block
    vertical-align middle
.header-primary
  .menu-list
    margin 20px 0
.header-scroll
  .menu-list
    margin 14px 0
.header-mobile
  position relative
  display none
  &:after
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    margin auto
    width 100%
    height 2px
    background-image linear-gradient(to right, #ff4141, #0050dc)
  .logo
    a
      display block
      width 32px
      height 32px
      font-size 0
      background url('../img/logo-min.svg');
      background-size cover
.header-sidebar
  display none
.logo
  display block
  img()
  a
    display inline-block
.header-label
  display block
  background c-1
  text-align right
  padding 8px 0
  p
    margin 0
    color c-white
    font-size 14px
  .icon
    font-size 12px
    margin-left 10px
.header-scroll
  position fixed
  left 0
  top -120px
  right 0
  z-index 10
  opacity 0
  transition ease all 0.5s
  &:after
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    margin auto
    width 100%
    height 4px
    background-image linear-gradient(to right, #ff4141, #0050dc)
  .logo
    a
      display block
      width 62px
      height 61px
      font-size 0
      background url('../img/logo-min.svg');
      background-size cover
  .header-cnt
    padding-top 11px
    padding-bottom 11px
  &.open
    top 0
    opacity 1
.button-menu
  display inline-block
  vertical-align middle
  margin-right 16px
  width 24px
  height 35px
  padding-top 10px
  padding-left 3px
  span
    display block
    background c-0
    width 18px
    height 2px
    margin-bottom 3px
    &:last-child
      margin-bottom 0
.button-search
  display inline-block
  vertical-align middle
  width 35px
  height 35px
  text-align center
  span
    line-height 35px
    font-size 17px
    color c-0
.menu-list
  list-un()
.menu-primary
  .menu-link-hover
    position relative
    .icon-arrow-bottom
      display none
    &:hover
      .sub-menu
        display block
  .li-sub-menu
    display none
    
  .menu-link-hover
    position static
    .li-sub-menu
      display none
      position absolute
      top 80px
      left 0
      width 500px
      list-style none
      padding 0
      z-index 10
      text-align left 
      background-color #fff
      border solid 1px #f8f8f8
      padding 10px
    a  
      color #002347
      line-height 4ex
      &:hover 
        color #ff4141
    .sub-menu
      display none
      position absolute
      top 80px
      left 0
      width 100%
      height auto
      list-style none
      padding 0
      z-index 11
      text-align left 
      background-color #fff
      border solid 1px #f8f8f8
      padding 10px
      a  
        font-size 12px
        color #002347
        line-height 4ex
        &:hover 
          color #ff4141
      .width 
        min-height 210px
      
  .menu-item
    display inline-block
    vertical-align middle
    margin-left 15px
    margin-right 15px

    .menu-link
      padding 8px 0
      display block
      color c-0
      font-family t-0
      font-size 14px
      text-decoration none
      position relative
      transition-all()
      &:hover
        color c-1
    &.active
      .menu-link
        color c-1
.header-filter
  position relative
  width 434px
  .error 
    display none
    font-size 12px
    color red
    margin-bottom 10px
    position absolute
    bottom -30px
    right 31px
  transition-all()
  .form-select
    display none
  .form-input
    padding-left 115px
    padding-right 46px
    placeholder(c-0,t-0)
    transition-all()
    input
      border 0
      width 100%
      height 32px
      line-height 32px
      background #fafafa
      font-size 14px
      color c-0
      padding-left 14px
  .form-dropdown
    position absolute
    top 0
    left 83px
    // width 32px
    &.active
      left 0
      width 40%
    transition-all()
    .dropdown-button
      background c-0
      display block
      padding-left 20px
      color c-white
      font-family t-0
      border-top-left-radius 16px
      border-bottom-left-radius 16px
      width 100%
      text-decoration none
      line-height 32px
      font-size 14px
      height 32px
      transition-all()
      &:after
        content '\e914'
        font-family icomoon
        position absolute
        top 0
        right 10px
        bottom 0
        width 10px
        height 10px
        margin auto
        font-size 10px
        line-height 10px
      &:hover
        background c-1
    .dropdown-list
      list-un()
      display none
      padding 18px 0
      background c-0
      position absolute
      width 207px
      top 32px
      left 16px
      z-index 2
    .dropdown-item
        a
          display block
          padding 6px 13px
          font-family t-0
          font-size 14px
          color c-white
          text-decoration none
          transition-all()
          &:hover
            background c-white
            color c-0
  .form-button
    position absolute
    top 0
    right 0
    width 46px
    z-index 2
    transition-all()
    button,
    a
      display block
      outline 0
      border 0
      background c-0
      width 100%
      height 32px
      cursor pointer
      text-align center
      border-top-right-radius 16px
      border-bottom-right-radius 16px
      transition-all()
      span
        line-height 32px
        color c-white
      &:hover
        background c-1
@media screen and (max-width 1100px)
  .header-scroll
    display none
  .header-primary
    .header-cnt
      padding 28px 0 30px 0
    .left,
    .right
      float none
      width 100%
    .logo
      a
        display block
        margin-left auto
        margin-right auto
        margin-bottom 20px
    .header-filter
    .menu-primary
      display block
      margin-left auto
      margin-right auto
    .menu-primary
      text-align center
      margin-bottom 20px
@media screen and (max-width 768px)
  .header-scroll,
  .header-primary
    display none
  .header-mobile
    display block
    .header-cnt
      padding-top 12px
      padding-bottom 12px
    .title
      margin-left 20px
      display inline-block
      vertical-align middle
      span
        color c-0
        font-family t-1
        font-size 16px
    .logo
      display inline-block
      vertical-align middle
    .header-mobile-search
      display none
      .form-input
        margin-top 20px
        position relative
        input
          width 100%
          font-size 16px
          height 48px
          line-height 48px
          padding-left 50px
        &:after
          content '\e90a'
          position absolute
          font-family icomoon
          top 0
          left 18px
          bottom 0
          width 17px
          height 17px
          font-size 17px
          margin auto
          color #727272
  .header-sidebar
    background c-0
    display block
    position fixed
    overflow hidden
    top 0
    left -320px
    background c-0
    width 320px
    height 100%
    z-index 10
    padding-left 0
    padding-right 0
    transition-all()
    .menu-close
      display block
      position absolute
      top 15px
      right 15px
      font-size 12px
      color c-white
      width 12px
      height 12px
    .logo
      margin-top 16px
      margin-left 16px
      margin-bottom 28px
      a
        display block
        width 102px
        height 32px
        font-size 0
        background url('../img/logo-white.svg');
        background-size cover
    .menu-list
      display block
    .menu-item
      display block
      a
        span 
          position absolute
          right 15px
      .li-sub-menu
        display none
        li  
          line-height 4ex
          a  
            color #fff
          .icon-arrow-bottom
            display none
      .sub-menu
        display none
        
      .menu-link
        display block
        font-family lato_regular,sans-serif
        text-decoration none
        position relative
        padding 15px 25px
        text-align left
        color c-white
        &:after
          display none
        &:hover
          background c-1
      &.active
        .menu-link
          background c-1
    &.open
      left 0

@media screen and (min-width: 1101px)
  .header-scroll,
  .header-primary
    .header-filter
      // width 50px
      width 320px
      // overflow hidden
      display inline-block
      vertical-align middle
      .form-dropdown
        
        // width 0
        // opacity 0
        min-width 32px
        max-width 125px
      .form-input
        // width 0
        // opacity 0
        width auto
      .form-button
        button,
        a
          // background transparent
          background c-0
          span
            // color c-0
            color c-white
      // &:hover,
      // &.active
      //   width 320px
      //   overflow inherit
      //   .form-dropdown
      //     width 115px
      //     opacity 1
      //   .form-input
      //     width auto
      //     opacity 1
      //   .form-button
      //     button,
      //     a
      //       background c-0
      //       span
      //         color c-white