<template>
    <div>
        <section class="event-detail">
            <div class="container clearfix">
                <div class="left">
                    <div class="event-img">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="right">
                    <div class="title"><h2>{{  }}</h2></div>
                    <div class="event-text">{{  }}</div>
                    <div class="event-button">
                        <a href="" class="button"><span>Leer más</span></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                events: []
            }
        },
        created() {
            this.fetchEvents();
        },
        methods: {
            fetchEvents() {
                axios.get('/api/events').then((res) => {
                    this.events = res.data.data;
                });
            }
        }
    }
</script>