<template>
    <ul class="banner-slider">
        <li class="banner-item" v-for="slider in sliders" :style="{ 'background-image' : 'url(\'' + slider.path + '\')' }" >
            <div class="container">
                <div class="banner-info">
                    <div class="banner-title">
                        <h3>{{ slider.title }}</h3>
                    </div>
                    <div class="banner-text" v-html="slider.description"></div>
                    <div class="banner-button">
                        <a :href="slider.url" class="button"><span>{{ slider.button }}</span></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        data() {
            return{
                sliders: []
            }
        },
        created() {
            this.fetchCategories();
        },
        updated () {
            $('.banner-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots: true
            });
            this.bannerFull();
        },
        methods: {
            bannerFull(){
                const wh = $(window).height();
                const ww = $(window).width();
                const hh = $('.header').height();
                const bh = wh - hh;
                if (ww > 992){
                    $('.banner-item').css('height', bh);
                }
                else {
                    $('.banner-item').css('height', 'auto');
                }
            },
            fetchCategories(){
                axios.get('/api/home/sliders').then((res) => {
                    this.sliders = res.data.data;
                });
            }
        }
    }
</script>

<style scoped>

</style>