<template>
    <nav class="product-filter-nav">
        <ul class="product-filter-list">
            <li class="product-filter-item" v-for="category in categories">
                <a class="button" :href="'/producto/buscar?category[]='+category.slug"><span>{{ category.name }}</span></a>
            </li>
        </ul>
    </nav>
</template>
<script>
    export default {
        data() {
            return{
                categories: []
            }
        },
        created() {
            this.fetchCategories();
        },
        methods: {
            fetchCategories() {
                axios.get('/api/categories').then((res) => {
                    this.categories = res.data.data;
                });
            }
        }
    }
</script>
