<template>
    <div class="container" v-if="headquarters.length > 0">
        <div class="title">
            <h2>Encuentranos en:</h2>
        </div>
        <div class="clearfix" >
            <div class="left">
                <div class="find-location">
                    <ul class="location-list">
                        <li class="location-item" v-for="(headquarter, index) in headquarters" v-bind:class="{ active: hq_active == index }">
                            <a href="javascript:void(0)" v-on:click="selectLocation(headquarter.latitude,headquarter.longitude);activate(index);">
                                <h3>{{ headquarter.name }}</h3>
                                <ul>
                                    <li class="icon-map">{{ headquarter.address }}</li>
                                    <li class="icon-mobile">{{ headquarter.phone }}</li>
                                    <li class="icon-mail">{{ headquarter.email }}</li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="find-map">
                    <div class="map" id="map"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return{
                headquarters: [],
                hq_active: 0,
                loaded: false
            }
        },
        created() {
            this.fetchHeadquarters();
        },
        updated() {
            if(!this.loaded){
                this.selectLocation(this.headquarters[0].latitude,this.headquarters[0].longitude);
                this.activate(0);
                this.loaded = true;
            }
        },
        methods: {
            fetchHeadquarters() {
                axios.get('/api/headquarters').then((res) => {
                    this.headquarters = res.data.data;
                });
            },
            activate(el){
                this.hq_active = el;
            },
            selectLocation: function(lat,lng) {
                const latlng = new google.maps.LatLng(lat,lng);
                const element = document.getElementById('map');
                const options = {
                    zoom: 15,
                    center: latlng
                };
                const map = new google.maps.Map(element, options);
                const marker = new google.maps.Marker({
                    position: latlng,
                    map: map
                });
                marker.setMap(map);
            }
        }
    };
</script>