<template>
    <nav class="product-pagination">
        <ul class="pagination">
            <li>
                <a href="javascript:void(0)" @click.prevent="changePage(pagination.current_page - 1)" :disabled="pagination.current_page <= 1"><span class="icon icon-arrow-left"></span></a>
            </li>
            <li v-for="page in pages" :class="isCurrentPage(page) ? 'active' : ''">
                <a href="javascript:void(0)" class="pagination-link"  @click.prevent="changePage(page)">{{ page }}</a>
            </li>
            <li>
                <a href="javascript:void(0)" @click.prevent="changePage(pagination.current_page + 1)" :disabled="pagination.current_page >= pagination.last_page"><span class="icon icon-arrow-right"></span></a></a>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: ['pagination', 'offset'],
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
                this.$parent.selectPage(page);
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = this.pagination.current_page - Math.floor(this.offset / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset - 1;
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                while (from <= to) {
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        }
    }
</script>