<template>
    <div>
        <div>
            <nav class="product-filter-nav">
                <ul class="product-filter-list" id="category_list">
                    <li class="product-filter-item" v-for="category in categories" >
                        <a class="button" href="javascript:void(0)" v-bind:class="{ active: isActiveCat(category.slug)}" v-on:click="selectCategory(category.slug)"><span>{{ category.name }}</span></a>
                    </li>
                </ul>
            </nav>
            <div class="clearfix">
                <div class="left">
                    <div class="product-filter-sidebar">
                        <div class="filter-title">
                            Filtro avanzado
                        </div>
                        <div class="product-filter-collapse">
                            <div class="filter-widget" v-if="brands.length > 0">
                                <div class="filter-widget-title">
                                    <h3>Marca</h3>
                                </div>
                                <div class="filter-widget-collapse">
                                    <ul class="filter-widget-list">
                                        <li class="filter-widget-item" v-for="brand in brands">
                                            <div class="form-checkbox">
                                                <a href="javascript:void(0)" v-on:click="selectBrand(brand.slug)"   v-bind:class="{ active: isActiveBrand(brand.slug)}">
                                                    <span class="check"></span> {{ brand.name }}
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="filter-widget" v-if="types.length > 0">
                                <div class="filter-widget-title">
                                    <h3>Tipo</h3>
                                </div>
                                <div class="filter-widget-collapse">
                                    <ul class="filter-widget-list">
                                        <li class="filter-widget-item" v-for="type in types">
                                            <div class="form-checkbox">
                                                <a href="javascript:void(0)" v-on:click="selectType(type.slug)"   v-bind:class="{ active: isActiveType(type.slug)}">
                                                    <span class="check"></span> {{ type.name }}
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="product-list" v-if="products">
                        <figure class="product-item" v-for="product in products">
                            <a :href="'/producto/'+product.slug">
                                <div class="product-photo">
                                    <img :src="product.image" alt="">
                                </div>
                                <figcaption class="product-name">
                                    <span>{{ product.name }} <br>
                                    Marca: {{ product.brand.name }} <br>
                                    Modelo: {{ product.model }}</span>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                    <div class="search-product-message" v-if="found === false">
                        <div class="product-message-text">
                            <div class="title">
                                <h2>Este producto no se encontró en esta categoría</h2>
                                <h3>Verifique que esté bien escrito o pruebe seleccionando otra.</h3>
                            </div>
                            <div class="text">
                                <p>Tal vez le interesa:</p>
                            </div>
                        </div>
                        <div class="product-list">
                            <figure class="product-item" v-for="o_product in o_products.slice(0,9)">
                                <a :href="'/producto/'+o_product.slug">
                                    <div class="product-photo">
                                        <img :src="o_product.image" alt="">
                                    </div>
                                    <figcaption class="product-name">
                                        <span>{{ o_product.name }}</span>
                                    </figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>
                    <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"></pagination>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import PaginationComponent from './PaginationComponent.vue';
    export default {
        data() {
            return{
                categories: null,
                products: [],
                brands: [],
                types:[],
                pagination: {
                    'current_page': 1
                },
                o_products: [],

                search: null,
                found: null,
                param: null,
            }
        },
        created() {
            this.search = this.searchToObject();
            this.fetchCategories();
            this.fetchProducts();
            this.fetchBrands();
            this.fetchTypes();
        },
        updated() {
            this.updateFound();
        },
        methods: {
            fetchCategories() {
                axios.get('/api/categories').then((res) => {
                    this.categories = res.data.data;
                });
            },
            fetchBrands() {
                this.param =  decodeURIComponent( $.param( this.search) );
                axios.get('/api/brands?'+this.param).then((res) => {
                    this.brands = res.data.data;
                });
            },
            fetchTypes() {
                this.param =  decodeURIComponent( $.param( this.search) );
                axios.get('/api/types?'+this.param).then((res) => {
                    this.types = res.data.data;
                });
            },
            prevPage(){
                if(this.search.page > 1){
                    this.search.page = this.search.page - 1;
                    this.fetchProducts();
                    this.updateURL();
                }
            },
            nextPage(){
                if(this.search.page < this.pagination.last_page){
                    this.search.page = this.search.page + 1;
                    this.fetchProducts();
                    this.updateURL();
                }
            },
            getUrlParameter(param) {
                const name = param.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
                const regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
                const results = regex.exec(location.search);
                return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
            },
            searchToObject() {
                const list = location.search.slice(1).split('&'),
                    result = {};
                list.forEach(function(keyval) {
                    keyval = keyval.split('=');
                    const key = keyval[0];
                    if (/\[[0-9]*\]/.test(key) === true) {
                        const pkey = key.split(/\[[0-9]*\]/)[0];
                        if (typeof result[pkey] === 'undefined') {
                            result[pkey] = [];
                        }
                        result[pkey].push(decodeURIComponent(keyval[1] || ''));
                    } else {
                        result[key] = decodeURIComponent(keyval[1] || '');
                    }
                });
                return JSON.parse(JSON.stringify(result));
            },
            removeArr(arr, what) {
                var found = arr.indexOf(what);

                while (found !== -1) {
                    arr.splice(found, 1);
                    found = arr.indexOf(what);
                }
            },
            fetchProducts() {
                this.param =  decodeURIComponent( $.param( this.search) );
                axios.get('/api/products/search?'+this.param).then((res) => {
                    this.products = res.data.data;
                    this.pagination = res.data.meta;
                    if(!this.search.page){
                        this.search.page = 1;
                    }
                    if(this.products.length===0){
                       this.fetchOproducts();
                    }
                });
            },
            updateURL() {
                if (history.pushState) {
                    const new_url = location.protocol + "//" + location.host + location.pathname + '?' +this.param;
                    window.history.pushState({path:new_url},'',new_url);
                }
            },
            selectCategory(cat){
                this.search.category = null;
                if(!this.search.category){
                    this.search.category = cat;
                    this.search.type = null;
                    this.search.brand = null;
                }
                else{
                    this.search.category = null;
                }
                if(this.search.page){
                    this.search.page = null;
                }
                this.fetchTypes();
                this.fetchBrands();
                this.fetchProducts();
                this.updateURL();
            },
            selectBrand(brd){
                if(!this.search.brand){
                    this.search.brand = [];
                }
                if(!this.search.brand.includes(brd)){
                    this.search.brand.push(brd);
                }
                else{
                    this.removeArr(this.search.brand, brd);
                }
                if(this.search.page){
                    this.search.page = null;
                }
                if(this.search.q){
                    this.search.q = null;
                }
                this.fetchProducts();
                this.updateURL();
            },
            selectType(typ){

                if(!this.search.type){
                    this.search.type = [];
                }
                if(!this.search.type.includes(typ)){
                    this.search.type.push(typ);
                }
                else{
                    this.removeArr(this.search.type, typ);

                }
                if(this.search.page){
                    this.search.page = null;
                }
                this.fetchProducts();
                this.updateURL();
            },
            selectPage(p){
                this.search.page = null;
                if(!this.search.page){
                    this.search.page = p;
                }
                else{
                    this.search.page = null;
                }
                this.fetchProducts();
                this.updateURL();
            },
            isActiveCat(val){
                if(this.search.category){
                    if(this.search.category.includes(val)){
                        return true;
                    }
                }
            },
            isActiveBrand(val){
                if(this.search.brand){
                    if(this.search.brand.includes(val)){
                        return true;
                    }
                }
            },
            isActiveType(val){
                if(this.search.type){
                    if(this.search.type.includes(val)){
                        return true;
                    }
                }
            },
            fetchOproducts() {
                axios.get('/api/products').then((res) => {
                    this.o_products = res.data.data;
                    this.found = true;
                });
            },
            updateFound(){
                if(this.products.length > 0){
                    this.found = true;
                }
                else{
                    this.found = false;
                }
            }
        },
        components: {
            pagination: PaginationComponent,
        }
    }
</script>