<template>
    <div class="product-list product-home-carousel">
        <figure class="product-item" v-for="product in products.slice(0, 10)">
            <a :href="'/producto/'+product.slug">
                <div class="product-photo">
                    <img :src="product.image" alt="">
                </div>
                <figcaption class="product-name">
                    <span>{{ product.name }}</span>
                </figcaption>
            </a>
        </figure>
    </div>
</template>
<script>
    export default {
        data() {
            return{
                products: []
            }
        },
        created() {
            this.fetchProducts();
        },
        updated () {
            $('.product-home-carousel').slick({
                infinite: true,
                variableWidth: true
            });
        },
        methods: {
            fetchProducts() {
                axios.get('/api/products').then((res) => {
                    this.products = res.data.data;
                });
            }
        }
    }
</script>
